<script src="/javascripts/controllers/service.controller.js"></script>
<footer class="w-full bg-medium-persian-blue/10"  ng-controller="serviceController">
    <div class="wrapper py-10 lg:py-14 xl:py-20">
        <div class="flex flex-wrap -m-5">
            <div class="w-full md:w-5/12 lg:w-4/12 py-3 px-5" data-aos="fade-down" data-aos-duration="1000">
                <div class="w-full max-w-xs">
                    <img src="assets/images/logo.png" alt="logo">
                    <p class="mt-2 md:mt-4 xl:mt-6">Global Water Blasting, is your go-to source for exterior house
                        cleaning services in Auckland. With secure water blasting methods, we specialise in renewing the
                        exterior of your home, making sure it looks its best all year long.</p>
                    <div class="flex items-center space-x-2 mt-6 md:mt-8 xl:mt-12">
                        <a target="_blank" href="https://www.facebook.com/globalwaterblasting"
                            class="flex items-center justify-center w-10 h-10 xl:w-12 xl:h-12 bg-medium-persian-blue rounded-full">
                            <svg class="w-5 h-5 xl:w-6 xl:h-6" width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M13.397 20.9991V12.8031H16.162L16.573 9.59412H13.397V7.55012C13.397 6.62412 13.655 5.99012 14.984 5.99012H16.668V3.12912C15.8487 3.04131 15.0251 2.99892 14.201 3.00212C11.757 3.00212 10.079 4.49412 10.079 7.23312V9.58812H7.33203V12.7971H10.085V20.9991H13.397Z"
                                    fill="white" />
                            </svg>
                        </a>
                        <a target="_blank" href="https://twitter.com/GWblasting"
                            class="flex items-center justify-center w-10 h-10 xl:w-12 xl:h-12 bg-medium-persian-blue rounded-full">
                            <svg class="w-5 h-5 xl:w-6 xl:h-6" width="24" height="20" viewBox="0 0 24 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.6425 2.93659C22.8075 3.30659 21.9105 3.55659 20.9675 3.66959C21.9405 3.08738 22.6685 2.17105 23.0155 1.09159C22.1014 1.63458 21.1009 2.01678 20.0575 2.22159C19.3559 1.47245 18.4266 0.975915 17.4138 0.809063C16.4011 0.642211 15.3616 0.81438 14.4568 1.29884C13.5519 1.7833 12.8323 2.55295 12.4097 3.48829C11.9871 4.42363 11.8851 5.47234 12.1195 6.47159C10.2672 6.37858 8.45515 5.89714 6.80095 5.05849C5.14674 4.21985 3.68736 3.04275 2.51752 1.60359C2.11752 2.29359 1.88752 3.09359 1.88752 3.94559C1.88708 4.71258 2.07596 5.46783 2.4374 6.14432C2.79885 6.82081 3.32168 7.39763 3.95952 7.82359C3.2198 7.80005 2.4964 7.60017 1.84952 7.24059V7.30059C1.84945 8.37633 2.22156 9.41897 2.90271 10.2516C3.58386 11.0842 4.53209 11.6555 5.58652 11.8686C4.90031 12.0543 4.18086 12.0817 3.48252 11.9486C3.78002 12.8742 4.35952 13.6836 5.13989 14.2635C5.92026 14.8434 6.86244 15.1648 7.83452 15.1826C6.18436 16.478 4.14641 17.1807 2.04852 17.1776C1.6769 17.1777 1.3056 17.156 0.936523 17.1126C3.066 18.4818 5.54486 19.2084 8.07652 19.2056C16.6465 19.2056 21.3315 12.1076 21.3315 5.95159C21.3315 5.75159 21.3265 5.54959 21.3175 5.34959C22.2288 4.69056 23.0154 3.87448 23.6405 2.93959L23.6425 2.93659Z"
                                    fill="white" />
                            </svg>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/globalwaterblasting/"
                            class="flex items-center justify-center w-10 h-10 xl:w-12 xl:h-12 bg-medium-persian-blue rounded-full">
                            <svg class="w-5 h-5 xl:w-6 xl:h-6" width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.9471 9.30349C20.937 8.54612 20.7952 7.79627 20.5281 7.08749C20.2964 6.48964 19.9426 5.94669 19.4892 5.49332C19.0359 5.03996 18.4929 4.68614 17.8951 4.45449C17.1954 4.19185 16.4562 4.04983 15.7091 4.03449C14.7471 3.99149 14.4421 3.97949 12.0001 3.97949C9.55807 3.97949 9.24507 3.97949 8.29007 4.03449C7.54323 4.04995 6.80442 4.19196 6.10507 4.45449C5.50713 4.68598 4.96409 5.03974 4.5107 5.49312C4.05732 5.94651 3.70356 6.48955 3.47207 7.08749C3.2089 7.78662 3.06719 8.5256 3.05307 9.27249C3.01007 10.2355 2.99707 10.5405 2.99707 12.9825C2.99707 15.4245 2.99707 15.7365 3.05307 16.6925C3.06807 17.4405 3.20907 18.1785 3.47207 18.8795C3.70395 19.4773 4.05797 20.0201 4.51151 20.4733C4.96505 20.9265 5.50813 21.2801 6.10607 21.5115C6.8035 21.7847 7.54244 21.9369 8.29107 21.9615C9.25407 22.0045 9.55907 22.0175 12.0011 22.0175C14.4431 22.0175 14.7561 22.0175 15.7111 21.9615C16.4582 21.9468 17.1974 21.8051 17.8971 21.5425C18.4948 21.3106 19.0376 20.9567 19.4909 20.5033C19.9442 20.05 20.2982 19.5072 20.5301 18.9095C20.7931 18.2095 20.9341 17.4715 20.9491 16.7225C20.9921 15.7605 21.0051 15.4555 21.0051 13.0125C21.0031 10.5705 21.0031 10.2605 20.9471 9.30349ZM11.9941 17.6005C9.44007 17.6005 7.37107 15.5315 7.37107 12.9775C7.37107 10.4235 9.44007 8.35449 11.9941 8.35449C13.2202 8.35449 14.396 8.84156 15.263 9.70854C16.13 10.5755 16.6171 11.7514 16.6171 12.9775C16.6171 14.2036 16.13 15.3795 15.263 16.2464C14.396 17.1134 13.2202 17.6005 11.9941 17.6005ZM16.8011 9.26149C16.6595 9.26162 16.5192 9.23383 16.3884 9.1797C16.2575 9.12557 16.1386 9.04617 16.0385 8.94605C15.9384 8.84592 15.859 8.72703 15.8049 8.59618C15.7507 8.46533 15.7229 8.32509 15.7231 8.18349C15.7231 8.04199 15.7509 7.90188 15.8051 7.77115C15.8592 7.64042 15.9386 7.52164 16.0387 7.42158C16.1387 7.32153 16.2575 7.24216 16.3882 7.18801C16.519 7.13386 16.6591 7.10599 16.8006 7.10599C16.9421 7.10599 17.0822 7.13386 17.2129 7.18801C17.3436 7.24216 17.4624 7.32153 17.5625 7.42158C17.6625 7.52164 17.7419 7.64042 17.7961 7.77115C17.8502 7.90188 17.8781 8.04199 17.8781 8.18349C17.8781 8.77949 17.3961 9.26149 16.8011 9.26149Z"
                                    fill="white" />
                                <path
                                    d="M11.9942 15.9796C13.6527 15.9796 14.9972 14.6351 14.9972 12.9766C14.9972 11.3181 13.6527 9.97363 11.9942 9.97363C10.3357 9.97363 8.99121 11.3181 8.99121 12.9766C8.99121 14.6351 10.3357 15.9796 11.9942 15.9796Z"
                                    fill="white" />
                            </svg>
                        </a>
                        <!-- <a href="#"
                            class="flex items-center justify-center w-10 h-10 xl:w-12 xl:h-12 bg-medium-persian-blue rounded-full">
                            <svg class="w-5 h-5 xl:w-6 xl:h-6" width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_176_362)">
                                    <path
                                        d="M23.4996 7.50317C23.3637 7.0184 23.099 6.57952 22.7336 6.23317C22.3579 5.87617 21.8974 5.62081 21.3956 5.49117C19.5176 4.99617 11.9936 4.99617 11.9936 4.99617C8.85697 4.96048 5.72107 5.11744 2.60364 5.46617C2.10183 5.60538 1.6422 5.86646 1.26564 6.22617C0.895641 6.58217 0.627641 7.02117 0.487641 7.50217C0.151334 9.31391 -0.0120674 11.1535 -0.000359379 12.9962C-0.0123594 14.8372 0.150641 16.6762 0.487641 18.4902C0.624641 18.9692 0.891641 19.4062 1.26264 19.7592C1.63364 20.1122 2.09564 20.3672 2.60364 20.5022C4.50664 20.9962 11.9936 20.9962 11.9936 20.9962C15.1343 21.0319 18.2742 20.8749 21.3956 20.5262C21.8974 20.3965 22.3579 20.1412 22.7336 19.7842C23.1036 19.4312 23.3666 18.9922 23.4986 18.5142C23.8437 16.7031 24.0115 14.8628 23.9996 13.0192C24.0256 11.1678 23.858 9.31873 23.4996 7.50217V7.50317ZM9.60164 16.4202V9.57317L15.8616 12.9972L9.60164 16.4202Z"
                                        fill="white" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_176_362">
                                        <rect width="24" height="24" fill="white" transform="translate(0 0.996094)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="w-full md:w-7/12 lg:w-8/12 py-3 px-5">
                <div class="flex flex-wrap -mx-5">
                    <div class="w-full sm:w-1/2 xl:w-3/12 py-3 px-5" data-aos="fade-up" data-aos-duration="1000">
                        <p class="footer_m_titel">Services</p>
                        <ul class="mt-2 md:mt-3 lg:mt-8 space-y-2.5 md:space-y-3.5 text-sm">
                            <li ng-repeat="service in services">
                                <a class="footer_menu" href="/servicedetails?name={{service.serviceslug}}">{{service.servicename}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-full sm:w-1/2 xl:w-4/12 py-3 px-5" data-aos="fade-down" data-aos-duration="1500">
                        <p class="footer_m_titel">Working Hours</p>
                        <ul class="mt-2 md:mt-3 lg:mt-8 space-y-2.5 md:space-y-3.5 text-sm">
                            <li>
                                <a class="footer_menu" href="#">Mon - Thu: 9 am - 5 pm</a>
                            </li>
                            <li>
                                <a class="footer_menu" href="#">Weekend: 10 am - 3 pm</a>
                            </li>
                            <li>
                                <a class="footer_menu" href="#">Fri: Closed</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w-full xl:w-5/12 py-3 px-5" data-aos="fade-up" data-aos-duration="1500">
                        <p class="footer_m_titel">Contact Info</p>
                        <ul class="mt-2 md:mt-3 lg:mt-8 space-y-2.5 md:space-y-3.5 text-sm">
                            <li>
                                <a class="footer_menu flex space-x-2" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 1.5C9.81276 1.50258 7.71584 2.3726 6.16923 3.91922C4.62261 5.46584 3.75259 7.56276 3.75001 9.75C3.74739 11.5374 4.33124 13.2763 5.41201 14.7C5.41201 14.7 5.63701 14.9963 5.67376 15.039L12 22.5L18.3293 15.0353C18.3623 14.9955 18.588 14.7 18.588 14.7L18.5888 14.6978C19.669 13.2747 20.2526 11.5366 20.25 9.75C20.2474 7.56276 19.3774 5.46584 17.8308 3.91922C16.2842 2.3726 14.1873 1.50258 12 1.5ZM12 12.75C11.4067 12.75 10.8266 12.5741 10.3333 12.2444C9.83995 11.9148 9.45543 11.4462 9.22837 10.8981C9.00131 10.3499 8.9419 9.74667 9.05765 9.16473C9.17341 8.58279 9.45913 8.04824 9.87869 7.62868C10.2982 7.20912 10.8328 6.9234 11.4147 6.80764C11.9967 6.69189 12.5999 6.7513 13.1481 6.97836C13.6962 7.20542 14.1648 7.58994 14.4944 8.08329C14.8241 8.57664 15 9.15666 15 9.75C14.999 10.5453 14.6826 11.3078 14.1202 11.8702C13.5578 12.4326 12.7954 12.749 12 12.75Z"
                                            fill="#005FAE" />
                                    </svg>
                                    <span>We provide services in the entire Auckland region.</span>
                                </a>
                            </li>
                            <li>
                                <a class="footer_menu flex space-x-2" href="#">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M15.2477 16.11L16.9277 14.43C17.154 14.2066 17.4403 14.0536 17.7518 13.9897C18.0634 13.9258 18.3867 13.9537 18.6827 14.07L20.7302 14.8875C21.0293 15.0089 21.2858 15.2162 21.4673 15.4831C21.6488 15.75 21.7473 16.0647 21.7502 16.3875V20.1375C21.7485 20.3571 21.7023 20.5741 21.6145 20.7753C21.5267 20.9766 21.3991 21.158 21.2393 21.3087C21.0796 21.4594 20.891 21.5761 20.6849 21.652C20.4788 21.7278 20.2595 21.7612 20.0402 21.75C5.69272 20.8575 2.79772 8.70753 2.25022 4.05753C2.22481 3.82918 2.24803 3.59804 2.31836 3.37931C2.38869 3.16058 2.50453 2.95922 2.65827 2.78848C2.81201 2.61774 3.00016 2.48148 3.21034 2.38868C3.42052 2.29587 3.64797 2.24862 3.87772 2.25003H7.50022C7.82348 2.25099 8.13906 2.34863 8.40637 2.5304C8.67368 2.71217 8.8805 2.96976 9.00022 3.27003L9.81772 5.31753C9.93791 5.61233 9.96858 5.93601 9.90588 6.24814C9.84319 6.56027 9.68992 6.847 9.46522 7.07253L7.78522 8.75253C7.78522 8.75253 8.75272 15.3 15.2477 16.11Z"
                                            fill="#005FAE" />
                                    </svg>
                                    <span>+64223514444</span>
                                </a>
                            </li>
                            <li>
                                <a class="footer_menu flex space-x-2" href="#">
                                    <div class="flex items-center space-x-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M19 4H5C4.20435 4 3.44129 4.31607 2.87868 4.87868C2.31607 5.44129 2 6.20435 2 7V17C2 17.7956 2.31607 18.5587 2.87868 19.1213C3.44129 19.6839 4.20435 20 5 20H19C19.7956 20 20.5587 19.6839 21.1213 19.1213C21.6839 18.5587 22 17.7956 22 17V7C22 6.20435 21.6839 5.44129 21.1213 4.87868C20.5587 4.31607 19.7956 4 19 4ZM19 6L12.5 10.47C12.348 10.5578 12.1755 10.604 12 10.604C11.8245 10.604 11.652 10.5578 11.5 10.47L5 6H19Z"
                                                fill="#005FAE" />
                                        </svg>
                                    </div>
                                    <span mailto:class="">globalwaterblasting@gmail.com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full bg-medium-persian-blue py-6 lg:py-8 xl:py-12">
        <div class="wrapper">
            <p class="text-sm text-white font-medium">© 2023 FasterClean. All Rights Reserved. With love by Pathfinder Studio</p>
        </div>
    </div>
</footer>
<!-- Call us [S] -->
<a href="tel:+64223514444"
    class="animate-bounce fixed bottom-0 sm:bottom-14 right-1 sm:right-5 flex items-center justify-around rounded-md bg-primary text-white z-50 cursor-pointer pr-2 sm:pr-4">
    <span
        class="w-10 md:w-12 lg:w-14 h-10 md:h-12 lg:h-14 flex items-center justify-center rounded-lg bg-primary text-white outline-none">
        <svg class="w-5 h-5 fill-white" xmlns="http://www.w3.org/2000/svg" version="1.1"
            xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" x="0" y="0"
            viewBox="0 0 384 384" style="enable-background:new 0 0 512 512" xml:space="preserve">
            <g>
                <path
                    d="M353.188 252.052c-23.51 0-46.594-3.677-68.469-10.906-10.719-3.656-23.896-.302-30.438 6.417l-43.177 32.594c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208 11.167-20.198 7.635-31.448-7.26-21.99-10.948-45.063-10.948-68.583C132.146 13.823 118.323 0 101.333 0h-70.52C13.823 0 0 13.823 0 30.813 0 225.563 158.438 384 353.188 384c16.99 0 30.813-13.823 30.813-30.813v-70.323c-.001-16.989-13.824-30.812-30.813-30.812z">
                </path>
            </g>
        </svg>
    </span>
    <span class="relative block tracking-wider text-white anim">+64223514444</span>
</a>
<!-- Call us [E] -->
<% if (message.length> 0) {%>
    <div id="denideMassage" class="w-full fixed right-0 top-0 anim z-[999]">
        <div class="bg-primary border border-blue-400 text-white px-4 py-3 rounded relative" role="alert">
            <strong class="font-bold text-white">
                <%= message %>
            </strong>
            <button class="absolute top-0 bottom-0 right-0 px-4 py-3"
                onclick="addActive('denideMassage','-translate-y-full')">
                <svg class="fill-current h-6 w-6 text-white" role="button" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20">
                    <title>Close</title>
                    <path class="text-white"
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z" />
                </svg>
            </button>
        </div>
    </div>
    <% } %>
        </main>        
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TNTGD6L7"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="assets/js/script.js"></script>
        </body>

        </html>