<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/images/logo.png" rel="shortcut icon">
    <title>Global Water Blasting | Exterior house wash in Auckland, NZ</title>
    <meta name="description" content="Exterior house wash in the Auckland region. House washing, gutter cleaning, roof treatment, driveway wash, and fence washing | Global Water Blasting.">
    <meta name="author" content="Globalwaterblasting">
    <meta name="copyright" content="Globalwaterblasting.co.nz">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="general">
    <meta name="keywords" content=" Global Water Blasting, Exterior house wash, Auckland- NZ">
    <link rel="canonical" href="https://globalwaterblasting.co.nz/" />

    <meta property="og:type" content="website">
    <meta property="og:title" content="Global Water Blasting | Exterior house wash in Auckland, NZ">
    <meta property="og:url" content="https://globalwaterblasting.co.nz/#">
    <meta property="og:image" content="https://globalwaterblasting.co.nz/assets/images/logo.png">
    <meta property="og:description" content="Exterior house wash in the Auckland region. House washing, gutter cleaning, roof treatment, driveway wash, and fence washing | Global Water Blasting">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Global Water Blasting | Exterior house wash in Auckland, NZ">
    <meta name="twitter:site" content="@https://globalwaterblasting.co.nz/#">
    <meta name="twitter:description" content="Exterior house wash in the Auckland region. House washing, gutter cleaning, roof treatment, driveway wash, and fence washing | Global Water Blasting">
    <meta name="twitter:image" content="https://globalwaterblasting.co.nz/assets/images/logo.png">
    <meta name="twitter:image:alt" content="Logo">

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Globalwaterblasting",
        "alternateName": "globallawnmowing.co.nz",
        "url": "https://globalwaterblasting.co.nz/#",
        "logo": "https://globalwaterblasting.co.nz/assets/images/logo.png",
        "contactPoint": {
            "@type": "ContactPoint",
            "telephone"": "+64223514444",
            "contactType": "customer service",
            "areaServed": "NZ",
            "availableLanguage": "en"
        },
        "sameAs": [
            "https://nikunj_kalsaria25@yahoo.com",
            "https://globalwaterblasting@gmail.com",
            "https://globalwaterblasting@gmail.com"
        ]
        }
    </script>

    <script type="application/ld+json">
        {
        "@context": "https://schema.org/",
        "@type": "WebSite",
        "name": "Globlewaterblasting",
        "url": "https://globalwaterblasting.co.nz/#",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https://globalwaterblasting.co.nz/#{search_term_string}",
            "query-input": "required name=search_term_string"
        }
        }
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5Z5D3253');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GN12VWJ9YM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-GN12VWJ9YM');
    </script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <!-- AOS Animation -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/filters.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/services.js"></script>
</head>

<body ng-app="GlobalWaterBlasting" ng-cloak>
    <main>
        <header class="bg-white py-3 md:py-5 fixed w-full top-0 z-50">
            <div class="wrapper">
                <div class="flex h-16 items-center justify-between">
                    <div class="flex-1 md:flex md:items-center md:gap-12">
                        <a class="block" href="/">
                            <img src="assets/images/logo.png" class="max-w-[120px] sm:max-w-full" alt="logo" />
                        </a>
                    </div>
                    <div class="md:flex md:items-center md:gap-12">
                        <nav aria-label="Global" id="navBar"
                            class="absolute -translate-x-full md:translate-x-0 anim w-full md:w-auto p-5 md:p-0 bg-white left-0 top-full md:relative md:block">
                            <ul class="space-y-5 md:space-y-0 md:flex items-center md:gap-10 text-sm">
                                <li class="group relative">
                                    <span class="nav_anim"></span>
                                    <a class="text-xl md:text-base font-medium text-dark group-hover:opacity-80"
                                        href="/">Home</a>
                                </li>
                                <li class="group relative">
                                    <span class="nav_anim"></span>
                                    <a class="text-xl md:text-base font-medium text-dark group-hover:opacity-80"
                                        href="/services">Services</a>
                                </li>
                                <li class="group relative">
                                    <span class="nav_anim"></span>
                                    <a class="text-xl md:text-base font-medium text-dark group-hover:opacity-80"
                                        href="/ourwork">Our Work</a>
                                </li>
                                <li class="group relative">
                                    <span class="nav_anim"></span>
                                    <a class="text-xl md:text-base font-medium text-dark group-hover:opacity-80"
                                        href="/aboutus">About Us</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="flex items-center gap-3">
                            <a class="text-sm font-medium text-white rounded-md bg-primary border border-primary hover:bg-white hover:text-primary anim px-3 md:px-5 py-1.5 md:py-2.5"
                                href="/contactus">Contact Us</a>
                            <div class="block md:hidden">
                                <button class="rounded bg-primary p-2 text-gray-600 transition hover:text-gray-600/75"
                                    onclick="toggleActive('navBar','-translate-x-full')">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 stroke-white" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M4 6h16M4 12h16M4 18h16" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>