<!-- Home [S] -->
<section class="relative overflow-hidden md:h-screen flex items-center pt-40 sm:pt-44 md:pt-48 lg:pt-56 pb-24 md:pb-28 lg:pb-44">
  <img src="assets/images/banner.png" alt="Banner" class="absolute inset-0 w-full h-full object-cover">
  <div class="w-full z-20 relative" data-aos="zoom-in" data-aos-duration="1500">
    <div class="wrapper">
      <div class="flex flex-col space-y-3 md:space-y-3.5 lg:space-y-5 max-w-sm md:max-w-xl">
        <h1 class="text-white">Revive the Beauty of Your <span class="inline-block bg-medium-persian-blue text-white px-2">Exteriors</span>
        </h1>
        <p class="p1 text-white md:max-w-lg">Global Water Blasting makes exterior cleaning easy by employing the right methods and utilizing the proper tools. Our experienced staff is trained to refresh the exteriors of your living spaces making them glow again.</p>
        <div class="flex space-x-5 lg:space-x-14">
          <a href="/contactus" class="block text-sm md:text-base btn-primary">Get a Free Quote</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home [E] -->

<section class="bg-white w-full overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="wrapper">
    <div class="section_title max-w-[685px] mb-6 md:mb-8 lg:mb-12 xl:mb-16" data-aos="fade-right" data-aos-duration="1500">
      <h2>Your Ultimate Home Washing Companion</h2>
    </div>
    <div class="flex flex-wrap justify-center -m-3" data-aos="zoom-out" data-aos-duration="1500">
      <div class="max-w-sm sm:max-w-full w-full sm:w-1/2 md:w-1/3 p-3">
        <div class="w-full">
          <div class="solution_img relative w-full h-72 sm:h-80 md:h-72 lg:h-80 rounded-xl overflow-hidden group" data-aos="zoom-out-up" data-aos-duration="1500">
            <img src="assets/images/quote-imges.png" alt="Make Schedule 1" class="w-full h-full object-cover">
          </div>
          <div class="flex flex-col space-y-3 group lg:space-y-5 p-4 pb-0 lg:px-8 md:pt-5 lg:pt-8 xl:pt-12" data-aos="fade-left" data-aos-duration="1500">
            <h3 class="text-center tracking-tighter">Quote</h3>
            <p class="p1 text-center text-light_gray">Call us to know the best home cleaning solutions for bringing back the shine to your space.</p>
            <div class="border-b-[3px] border-light_gray group-hover:border-sky anim pb-6">
              <div class="border border-medium-persian-blue group-hover:bg-medium-persian-blue w-10 md:w-12 lg:w-14 h-10 md:h-12 lg:h-14 flex items-center justify-center mx-auto anim">
                <svg class="w-5 md:w-6 lg:w-7 h-2 md:h-2.5 lg:h-3 fill-gray-400 group-hover:fill-white anim" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.9613 6.96051C26.2542 6.66761 26.2542 6.19274 25.9613 5.89985L21.1883 1.12687C20.8954 0.833982 20.4205 0.833982 20.1276 1.12687C19.8348 1.41977 19.8348 1.89464 20.1276 2.18754L24.3703 6.43018L20.1276 10.6728C19.8348 10.9657 19.8348 11.4406 20.1276 11.7335C20.4205 12.0264 20.8954 12.0264 21.1883 11.7335L25.9613 6.96051ZM0.568359 7.18018H25.4309V5.68018H0.568359V7.18018Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-sm sm:max-w-full w-full sm:w-1/2 md:w-1/3 p-3">
        <div class="w-full">
          <div class="solution_img relative w-full h-72 sm:h-80 md:h-72 lg:h-80 rounded-xl overflow-hidden group" data-aos="zoom-out-up" data-aos-duration="1500">
            <img src="assets/images/schedule.png" alt="Cleaning Services 1" class="w-full h-full object-cover">
          </div>
          <div class="flex flex-col space-y-3 group lg:space-y-5 p-4 pb-0 lg:px-8 md:pt-5 lg:pt-8 xl:pt-12" data-aos="fade-left" data-aos-duration="1500">
            <h3 class="text-center tracking-tighter">Schedule</h3>
            <p class="p1 text-center text-light_gray">Your Convenience, Your Schedule! We offer you the flexibility to choose the best time for us to work our cleaning magic on your home</p>
            <div class="border-b-[3px] border-light_gray group-hover:border-sky anim pb-6">
              <div class="border border-medium-persian-blue group-hover:bg-medium-persian-blue w-10 md:w-12 lg:w-14 h-10 md:h-12 lg:h-14 flex items-center justify-center mx-auto anim">
                <svg class="w-5 md:w-6 lg:w-7 h-2 md:h-2.5 lg:h-3 fill-gray-400 group-hover:fill-white anim" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.9613 6.96051C26.2542 6.66761 26.2542 6.19274 25.9613 5.89985L21.1883 1.12687C20.8954 0.833982 20.4205 0.833982 20.1276 1.12687C19.8348 1.41977 19.8348 1.89464 20.1276 2.18754L24.3703 6.43018L20.1276 10.6728C19.8348 10.9657 19.8348 11.4406 20.1276 11.7335C20.4205 12.0264 20.8954 12.0264 21.1883 11.7335L25.9613 6.96051ZM0.568359 7.18018H25.4309V5.68018H0.568359V7.18018Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="max-w-sm sm:max-w-full w-full sm:w-1/2 md:w-1/3 p-3">
        <div class="w-full">
          <div class="solution_img relative w-full h-72 sm:h-80 md:h-72 lg:h-80 rounded-xl overflow-hidden group" data-aos="zoom-out-up" data-aos-duration="1500">
            <img src="assets/images/clean-services.png" alt="Ejoy Work 1" class="w-full h-full object-cover">
          </div>
          <div class="flex flex-col space-y-3 group lg:space-y-5 p-4 pb-0 lg:px-8 md:pt-5 lg:pt-8 xl:pt-12" data-aos="fade-left" data-aos-duration="1500">
            <h3 class="text-center tracking-tighter">Clean</h3>
            <p class="p1 text-center text-light_gray">Sit back and experience the satisfaction of a spotless home as our expert team rejuvenates your living space.</p>
            <div class="border-b-[3px] border-light_gray group-hover:border-sky anim pb-6">
              <div class="border border-medium-persian-blue group-hover:bg-medium-persian-blue w-10 md:w-12 lg:w-14 h-10 md:h-12 lg:h-14 flex items-center justify-center mx-auto anim">
                <svg class="w-5 md:w-6 lg:w-7 h-2 md:h-2.5 lg:h-3 fill-gray-400 group-hover:fill-white anim" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M25.9613 6.96051C26.2542 6.66761 26.2542 6.19274 25.9613 5.89985L21.1883 1.12687C20.8954 0.833982 20.4205 0.833982 20.1276 1.12687C19.8348 1.41977 19.8348 1.89464 20.1276 2.18754L24.3703 6.43018L20.1276 10.6728C19.8348 10.9657 19.8348 11.4406 20.1276 11.7335C20.4205 12.0264 20.8954 12.0264 21.1883 11.7335L25.9613 6.96051ZM0.568359 7.18018H25.4309V5.68018H0.568359V7.18018Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary/10 w-full overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="wrapper max-w-screen-2xl">
    <div class="section_title mb-2 lg:mb-6 xl:mb-6 md:px-10 lg:px-14 text-center lg:text-left" data-aos="fade-right" data-aos-duration="1500">
      <h2>Our Expertise</h2>
    </div>
    <div class="swiper mySwiper1 py-10 md:px-10 xl:px-14">
      <div class="swiper-wrapper">
        <div class="swiper-slide" data-aos="zoom-out-right" data-aos-duration="2000">
          <div class="w-full h-full">
            <div class="w-full h-full rounded-lg p-5 md:p-6 lg:p-8 xl:p-12 hover:bg-white hover:shadow-md anim">
              <div class="w-fit self-center mx-auto">
                <svg class="w-20 md:w-24 h-20 md:h-24 lg:w-28 lg:h-28 stroke-[#005FAE] fill-transparent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" x="0" y="0" viewBox="0 0 682.667 682.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
                  <g>
                    <defs>
                      <clipPath id="a" clipPathUnits="userSpaceOnUse">
                        <path d="M0 512h512V0H0Z" data-original="#000000" />
                      </clipPath>
                      <clipPath id="b" clipPathUnits="userSpaceOnUse">
                        <path d="M0 512h512V0H0Z" data-original="#000000" />
                      </clipPath>
                    </defs>
                    <g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)">
                      <path d="M0 0v-124.045h72v282.076l-36 44.731-36-44.731V33.986" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(11.398 131.545)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0h72.028v282.076L36 326.807 0 282.076Z" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(161.663 7.5)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0v179.404l-36 44.731-36-44.731v-282.076h45.751" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(383.956 110.172)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                    </g>
                    <path d="M161.663 109.094H83.398V57.957h78.265zm72.028 69.592h78.265v51.137h-78.265zm78.265-69.592h-78.265V57.957h78.265zM83.398 178.686h78.265v51.137H83.398Z" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="matrix(1.33333 0 0 -1.33333 0 682.667)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                    <g clip-path="url(#b)" transform="matrix(1.33333 0 0 -1.33333 0 682.667)">
                      <path d="M0 0v295.484c0 8.051-6.577 14.627-14.627 14.627s-14.655-6.576-14.655-14.627V165.486m0-33.986V0" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(443.795 124.883)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0c39.288 0 71.433-32.145 71.433-71.432v-47.453H-71.461v47.453C-71.461-32.145-39.316 0 0 0Z" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(429.168 126.385)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0h-128.013" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(493.175 86.588)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0v-39.545M39.033 0v-39.545M-39.062 0v-39.545" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(429.168 47.045)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0h-29.594c-14.031 0-25.427 11.367-25.427 25.426 0 13.437 10.404 24.435 23.557 25.371 2.239 22.678 21.344 40.394 44.589 40.394 19.048 0 35.291-11.878 41.782-28.601 3.43 1.246 7.143 1.898 10.999 1.898 17.858 0 32.315-14.457 32.315-32.287C98.221 13.408 82.29 0 63.524 0H33.959" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(102.56 413.309)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0c-9.638 0-17.433 7.795-17.433 17.404 0 9.213 7.115 16.725 16.157 17.377 1.503 15.506 14.57 27.637 30.501 27.637 13.011 0 24.151-8.135 28.573-19.586a22.212 22.212 0 0 0 7.54 1.332c12.189 0 22.111-9.922 22.111-22.111 0-12.217-9.922-22.11-22.111-22.11-.538 0-1.105.028-1.644.057z" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(230.97 366.764)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                      <path d="M0 0v-4.166M150.265 0v-4.166m0 124.895v-4.196m150.293 4.196v-4.196M0 120.729v-4.196" style="stroke-width:14.995;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;stroke-dasharray:none;stroke-opacity:1" transform="translate(47.398 85.623)" stroke-width="14.995" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-dasharray="none" stroke-opacity="" data-original="#000000" class="" />
                    </g>
                  </g>
                </svg>
              </div>
              <div class="flex flex-col space-y-5 pt-6 md:pt-8 lg:pt-12">
                <h3 class="text-center">Fence Wash</h3>
                <p class="p1 text-center text-light_gray">Let our experts revive your home fences! Relax and watch as years of dirt, moss, and filth disappear, leaving your fences look refreshed and vibrant.</p>
                <a href="#" class="flex items-center justify-center text-primary font-medium text-base space-x-2.5 mt-auto">
                  <span class="block">Learn more</span>
                  <span class="block">
                    <svg class="w-1.5 h-2" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.33612 8.08612L5.52361 4.89863C5.74393 4.67831 5.74393 4.32208 5.52128 4.10176L2.33378 0.914264C2.11582 0.693943 1.75957 0.693943 1.53925 0.914264L1.0119 1.44863C0.791605 1.6666 0.791605 2.02285 1.0119 2.24317L3.27128 4.50253L1.0119 6.76191C0.791605 6.97987 0.791605 7.33612 1.0119 7.55645L1.5416 8.08612C1.75957 8.30644 2.11582 8.30644 2.33612 8.08612Z" fill="#003687" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-aos="zoom-out-left" data-aos-duration="2000">
          <div class="w-full h-full">
            <div class="w-full h-full rounded-lg p-5 md:p-6 lg:p-8 xl:p-12 hover:bg-white hover:shadow-md anim">
              <div class="w-fit self-center mx-auto">
                <svg class="w-20 md:w-24 h-20 md:h-24 lg:w-28 lg:h-28 stroke-[#005FAE] fill-transparent" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 511.939 511.939" style="enable-background:new 0 0 511.939 511.939" xml:space="preserve">
                  <g>
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="173.139" y1="157.91" x2="173.139" y2="276.54" />
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="474.319" y1="322.85" x2="474.319" y2="157.91" />
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="444.209" y1="321.26" x2="444.209" y2="265.94" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M353.849,321.26V210.68c0-16.57,13.43-30,30-30h30.36c16.56,0,30,13.43,30,30v20.26" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M187.229,323.73h294.68c8.28,0,15,6.72,15,15v15.18c0,8.29-6.72,15-15,15h-316.36c-8.28,0-15-6.71-15-15v-7.95" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M233.649,115.68l81.76-54.51c5.04-3.36,11.6-3.36,16.64,0l149.07,99.38c9.97,6.65,23.32-0.5,23.32-12.48v-24.18&#10;&#9;&#9;c0-5.02-2.51-9.7-6.68-12.48l-140.75-93.83c-20.15-13.44-46.41-13.44-66.56,0l-140.75,93.83c-4.17,2.78-6.68,7.46-6.68,12.48v24.18&#10;&#9;&#9;c0,11.98,13.35,19.13,23.32,12.48l38.19-25.46" />
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="383.969" y1="248.441" x2="383.969" y2="263.499" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M215.669,248.97l23.47-65.57c1.98-5.65,7.1-9.59,13.06-10.06c9.713-0.711,17.291,7.532,16.18,16.84&#10;&#9;&#9;c-0.927,7.258,5.323,13.82,12.95,12.85c14.119-1.722,24.543,12.073,19.64,24.96c-2.697,7.105,2.015,14.722,9.45,15.61&#10;&#9;&#9;c9.376,1.115,15.535,10.521,12.56,19.68c-1.898,5.815-7.019,9.742-12.84,10.33l-70.8,7.82" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M78.719,412.45c5.82,11.1,13.12,33.14-5.96,53.01" />
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="166.599" y1="332.54" x2="104.399" y2="381.48" />
                    <line style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" x1="147.189" y1="307.92" x2="85.169" y2="356.73" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M225.887,255.89l9.766,12.411c5.331,6.775,4.161,16.588-2.614,21.919l-33.971,26.733c-2.304,1.813-3.335,2.493-9.422,5.27&#10;&#9;&#9;l-23.072,10.33l-19.381-24.629l15.224-19.7c4.081-5.205,5.233-6.368,7.58-8.215l33.971-26.733&#10;&#9;&#9;C210.743,247.945,220.556,249.115,225.887,255.89z" />
                    <path style="stroke-width:15;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10" d="&#10;&#9;&#9;M49.189,375.08l19.32-15.21c6.78-5.33,16.59-4.16,21.92,2.62l9.77,12.41c5.33,6.77,4.16,16.59-2.62,21.92l-37.03,29.14&#10;&#9;&#9;c-6.78,5.33-7.95,15.15-2.62,21.92l14.57,18.52c8.03,10.2,6.27,24.98-3.93,33.01c-10.21,8.02-24.98,6.26-33.01-3.94l-14.69-18.66&#10;&#9;&#9;c-18.71-23.79-17.4-56.93,1.54-79.11" />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
              <div class="flex flex-col space-y-5 pt-6 md:pt-8 lg:pt-12">
                <h3 class="text-center">House Washing</h3>
                <p class="p1 text-center text-light_gray">We make sure to use soft washing techniques while cleaning a house. It meets the cleaning requirements, increases the lifespan of your coatings, and saves you from unnecessary maintenance and repainting.</p>
                <a href="#" class="flex items-center justify-center text-primary font-medium text-base space-x-2.5 mt-auto">
                  <span class="block">Learn more</span>
                  <span class="block">
                    <svg class="w-1.5 h-2" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.33612 8.08612L5.52361 4.89863C5.74393 4.67831 5.74393 4.32208 5.52128 4.10176L2.33378 0.914264C2.11582 0.693943 1.75957 0.693943 1.53925 0.914264L1.0119 1.44863C0.791605 1.6666 0.791605 2.02285 1.0119 2.24317L3.27128 4.50253L1.0119 6.76191C0.791605 6.97987 0.791605 7.33612 1.0119 7.55645L1.5416 8.08612C1.75957 8.30644 2.11582 8.30644 2.33612 8.08612Z" fill="#003687" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-aos="zoom-out-right" data-aos-duration="2000">
          <div class="w-full h-full">
            <div class="w-full h-full rounded-lg p-5 md:p-6 lg:p-8 xl:p-12 hover:bg-white hover:shadow-md anim">
              <div class="w-fit self-center mx-auto">
                <svg class="w-20 md:w-24 h-20 md:h-24 lg:w-28 lg:h-28 fill-[#005FAE] stroke-white" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 507.052 507.052" viewBox="0 0 507.052 507.052">
                  <path d="m506.877 417.044-16.983-87.106c-.793-4.065-4.722-6.721-8.797-5.926-4.065.793-6.719 4.731-5.926 8.797l14.354 73.621-11.599-7.812c-12.868-8.666-28.692-10.514-42.825-5.552l-46.221-295.471c7.877-4.993 17.866-4.886 25.642.351l17.102 11.519 37.315 191.382c.793 4.065 4.732 6.723 8.797 5.926 4.065-.793 6.719-4.731 5.926-8.797l-37.767-193.695c-.475-2.436-1.87-4.543-3.937-5.939l-19.058-12.836c-13.051-8.789-29.917-8.789-42.966 0l-2.387 1.607c-7.959 5.36-18.246 5.361-26.207.001l-2.387-1.608c-13.051-8.789-29.916-8.789-42.967.001l-2.385 1.606c-7.961 5.36-18.247 5.362-26.208 0l-2.386-1.607c-13.05-8.788-29.916-8.79-42.967 0l-2.386 1.607c-7.96 5.362-18.247 5.361-26.206.001l-2.387-1.608c-13.05-8.789-29.916-8.789-42.966 0l-2.386 1.607c-7.959 5.362-18.246 5.362-26.207 0l-2.386-1.607c-13.051-8.789-29.917-8.789-42.966 0l-19.064 12.84c-2.059 1.39-3.455 3.498-3.931 5.936l-60.981 312.761c-.724 3.707.843 7.452 3.992 9.54s7.208 2.075 10.345-.036l22.993-15.488c11.274-7.595 25.846-7.595 37.122-.001l3.864 2.604c16.366 11.023 37.516 11.023 53.882 0l3.862-2.603c11.276-7.596 25.848-7.593 37.122-.001l3.864 2.604c16.366 11.023 37.516 11.023 53.882 0l3.862-2.603c11.276-7.596 25.848-7.593 37.122-.001l3.863 2.604c16.367 11.023 37.516 11.023 53.883 0l3.862-2.603c11.276-7.595 25.848-7.594 37.122-.001l3.863 2.604c16.367 11.023 37.516 11.023 53.883 0l3.862-2.603c11.276-7.595 25.848-7.595 37.122 0l22.995 15.489c1.576 1.062 3.387 1.592 5.198 1.592 1.789 0 3.579-.519 5.145-1.556 3.15-2.088 4.717-5.833 3.993-9.54zm-420.007-15.824-.917-.617 6.532-41.76c.64-4.093-2.158-7.929-6.25-8.569-4.092-.638-7.928 2.159-8.569 6.251l-5.716 36.541c-14.132-4.962-29.957-3.114-42.826 5.552l-11.598 7.812 57.902-296.966 17.103-11.519c7.775-5.238 17.764-5.345 25.642-.35l-35.506 226.967c-.641 4.093 2.158 7.929 6.25 8.569.393.062.783.091 1.168.091 3.63 0 6.822-2.643 7.4-6.342l34.759-222.19c7.291 2.055 15.02 1.9 22.244-.464l-28.558 295.688-1.938 1.306c-11.276 7.594-25.847 7.594-37.122 0zm54.877-9.049 28.621-296.331c7.154-3.074 15.413-2.424 22.089 1.966l-22.574 294.991c-9.127-3.027-18.916-3.235-28.136-.626zm43.853 9.049-1.253-.844 22.612-295.483c7.432 1.929 15.28 1.585 22.559-1.039l-5.164 296.266-1.633 1.1c-11.274 7.594-25.846 7.594-37.121 0zm53.891-8.765 5.172-296.766c5.688-2.336 12.037-2.337 17.726 0l5.173 296.766c-9.153-2.803-18.919-2.803-28.071 0zm97.678.341-16.379-214.028c-.316-4.13-3.919-7.217-8.051-6.906-4.13.316-7.222 3.921-6.906 8.051l16.872 220.464-1.253.844c-11.274 7.596-25.847 7.594-37.121 0l-1.633-1.1-5.164-296.266c7.278 2.624 15.126 2.969 22.559 1.04l3.295 43.057c.302 3.936 3.588 6.928 7.471 6.928.191 0 .386-.007.58-.021 4.13-.316 7.222-3.921 6.906-8.051l-3.75-49.001c6.676-4.389 14.935-5.04 22.089-1.966l28.621 296.332c-9.22-2.611-19.008-2.403-28.136.623zm45.892 8.424-1.94-1.307-28.559-295.686c7.224 2.364 14.953 2.519 22.245.464l46.291 295.912-.915.616c-11.276 7.596-25.848 7.594-37.122.001z" />
                </svg>
              </div>
              <div class="flex flex-col space-y-5 pt-6 md:pt-8 lg:pt-12">
                <h3 class="text-center">Roof Treatment and Wash</h3>
                <p class="p1 text-center text-light_gray">Our professionals are well trained to do this highly specialised job that demands working at heights, using specific tools, and applying the right water pressure while washing.</p>
                <a href="#" class="flex items-center justify-center text-primary font-medium text-base space-x-2.5 mt-auto">
                  <span class="block">Learn more</span>
                  <span class="block">
                    <svg class="w-1.5 h-2" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.33612 8.08612L5.52361 4.89863C5.74393 4.67831 5.74393 4.32208 5.52128 4.10176L2.33378 0.914264C2.11582 0.693943 1.75957 0.693943 1.53925 0.914264L1.0119 1.44863C0.791605 1.6666 0.791605 2.02285 1.0119 2.24317L3.27128 4.50253L1.0119 6.76191C0.791605 6.97987 0.791605 7.33612 1.0119 7.55645L1.5416 8.08612C1.75957 8.30644 2.11582 8.30644 2.33612 8.08612Z" fill="#003687" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-aos="zoom-out-right" data-aos-duration="2000">
          <div class="w-full h-full">
            <div class="w-full h-full rounded-lg p-5 md:p-6 lg:p-8 xl:p-12 hover:bg-white hover:shadow-md anim">
              <div class="w-fit self-center mx-auto">
                <svg class="w-20 md:w-24 h-20 md:h-24 lg:w-28 lg:h-28 fill-[#005FAE]" viewBox="0 0 56 40" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M48.734 34.6035C48.3555 34.2237 47.8252 33.987 47.2464 33.9873C46.6675 33.987 46.1376 34.2237 45.7587 34.6035C45.379 34.9823 45.1423 35.5123 45.1426 36.0914C45.1423 36.6705 45.379 37.2005 45.759 37.579C46.1379 37.9588 46.6679 38.1952 47.2467 38.1949C47.8258 38.1952 48.3555 37.9585 48.7343 37.579C49.1141 37.2002 49.3511 36.6702 49.3508 36.0914C49.3505 35.5123 49.1138 34.9823 48.734 34.6035ZM47.8563 36.7013C47.6983 36.8584 47.4865 36.9536 47.2461 36.9539C47.0059 36.9536 46.7941 36.8584 46.6361 36.7013C46.4791 36.5433 46.3839 36.3318 46.3836 36.0914C46.3839 35.851 46.4791 35.6395 46.6361 35.4812C46.7941 35.3241 47.0059 35.2289 47.2461 35.2286C47.4865 35.2289 47.698 35.3241 47.8563 35.4812C48.0134 35.6392 48.1085 35.851 48.1092 36.0914C48.1085 36.3315 48.0134 36.5433 47.8563 36.7013Z"></path> <path d="M28.1171 34.6035C27.7383 34.2237 27.2083 33.987 26.6295 33.9873C26.0504 33.987 25.5204 34.2237 25.1418 34.6035C24.7621 34.9823 24.5251 35.5123 24.5254 36.0914C24.5251 36.6705 24.7618 37.2005 25.1418 37.579C25.5207 37.9588 26.0507 38.1952 26.6295 38.1949C27.2083 38.1952 27.7383 37.9585 28.1171 37.5787C28.4969 37.1999 28.7336 36.6702 28.7333 36.0911C28.7336 35.5123 28.4969 34.9823 28.1171 34.6035ZM27.2394 36.7013C27.0814 36.8581 26.8699 36.9536 26.6295 36.9539C26.3891 36.9536 26.1773 36.8584 26.0196 36.7013C25.8625 36.5433 25.7673 36.3318 25.767 36.0914C25.7673 35.851 25.8625 35.6395 26.0196 35.4812C26.1776 35.3241 26.3894 35.2289 26.6295 35.2286C26.8696 35.2289 27.0814 35.3241 27.2394 35.4812C27.3965 35.6392 27.4917 35.851 27.492 36.0914C27.4917 36.3315 27.3965 36.5433 27.2394 36.7013Z"></path> <path d="M35.5007 30.309H43.1579C43.426 30.309 43.6624 30.1382 43.747 29.8838C43.8313 29.6294 43.7439 29.351 43.5289 29.1905C43.5134 29.1793 42.5057 28.427 41.102 27.6665C40.3997 27.2864 39.5982 26.9036 38.764 26.6118C37.9292 26.3207 37.0621 26.117 36.2123 26.1157C35.9343 26.1157 35.6581 26.1381 35.3865 26.1888C35.0936 26.2436 34.8799 26.5011 34.8799 26.799V29.6879C34.8799 29.8515 34.9461 30.011 35.0615 30.1267C35.1772 30.2427 35.3371 30.309 35.5007 30.309ZM36.1215 27.3614C36.1523 27.3605 36.1815 27.3577 36.2126 27.3577C36.8583 27.3567 37.6067 27.5216 38.3547 27.7841C39.3207 28.1212 40.2831 28.6148 41.0609 29.0677H36.1215V27.3614Z"></path> <path d="M24.8396 30.3092H32.4967C32.6603 30.3092 32.8202 30.2429 32.9356 30.1272C33.0513 30.0115 33.1172 29.852 33.1172 29.6884V26.7995C33.1172 26.5016 32.9033 26.244 32.6106 26.1893C32.3391 26.1386 32.0629 26.1162 31.7848 26.1162C30.9351 26.1175 30.0676 26.3212 29.2328 26.6123C27.9822 27.0505 26.8025 27.6916 25.9257 28.2244C25.0498 28.7571 24.4794 29.1826 24.4679 29.191C24.253 29.3512 24.1656 29.6299 24.2502 29.8843C24.3351 30.1384 24.5715 30.3092 24.8396 30.3092ZM27.5483 28.7251C28.2033 28.3733 28.9411 28.0265 29.6776 27.7721C30.4138 27.5168 31.1491 27.3569 31.7848 27.3578C31.8159 27.3578 31.8451 27.3609 31.8759 27.3616V29.0679H26.9365C27.1303 28.955 27.3343 28.8399 27.5483 28.7251Z"></path> <path d="M54.3811 38.4233H49.953C50.3645 37.9461 50.6525 37.3571 50.7657 36.7089C51.7169 36.6812 52.5809 36.2837 53.2079 35.6557C53.8592 35.0054 54.2639 34.1003 54.2636 33.1066C54.2642 32.5728 54.1637 32.1035 53.9634 31.7069C53.8144 31.4099 53.6113 31.1595 53.3821 30.9577C53.0372 30.6538 52.6422 30.4532 52.24 30.2896C51.8369 30.1266 51.4208 30 51.0133 29.866C48.9895 29.2013 46.9861 28.4415 45.0183 27.6151C44.6102 27.4443 44.0821 27.1647 43.5033 26.8353C42.633 26.3411 41.643 25.7358 40.6825 25.2027C40.2017 24.9362 39.728 24.6874 39.2748 24.478C38.821 24.269 38.3897 24.0989 37.9785 23.9928C37.2737 23.8118 36.4473 23.6684 35.5696 23.5689C34.6922 23.4694 33.7647 23.4143 32.8646 23.414C32.1417 23.4143 31.4366 23.4495 30.7863 23.5288C30.6407 23.5465 30.4992 23.5674 30.3599 23.5894V16.8936L30.5399 17.0697C30.6553 17.1823 30.8124 17.2463 30.9735 17.2463H33.756C34.0088 17.2463 34.2356 17.0939 34.3311 16.8597C34.4262 16.6255 34.3706 16.3581 34.1895 16.1817L30.1729 12.2615C30.1726 12.2615 30.1726 12.2612 30.1723 12.2612L18.1104 0.490062C17.869 0.254615 17.4846 0.254615 17.2435 0.490062L5.18126 12.2606L5.18095 12.2609L1.16434 16.1814C0.983325 16.3581 0.927651 16.6252 1.02314 16.8594C1.11831 17.0936 1.34505 17.246 1.59792 17.246H4.38161C4.54272 17.246 4.69979 17.182 4.81518 17.0694L4.99433 16.8946V34.9727C4.99433 35.136 5.06058 35.2962 5.17597 35.4116C5.29168 35.5273 5.45154 35.5935 5.61483 35.5935H21.5572C21.8536 35.8924 22.1733 36.1549 22.5223 36.3531C22.7036 36.4557 22.8943 36.5415 23.093 36.6041C23.1922 37.2933 23.4893 37.9203 23.9228 38.4233H3.2165C2.87375 38.4233 2.59569 38.7013 2.59569 39.0441C2.59569 39.3868 2.87375 39.6649 3.2165 39.6649H54.3808C54.7236 39.6649 55.0016 39.3868 55.0016 39.0441C55.0016 38.7013 54.7239 38.4233 54.3811 38.4233ZM4.12874 16.0047H3.12257L6.04841 13.1492V13.1495L17.6771 1.80166L29.3058 13.1492L32.2316 16.0047H31.2264L30.1729 14.9765L18.1104 3.20564C17.869 2.97019 17.4846 2.97019 17.2432 3.20564L5.18126 14.9777L4.12874 16.0047ZM6.23533 34.3522V15.6834L17.6771 4.51724L29.1185 15.6819V23.8852C29.0887 23.8955 29.056 23.9039 29.0265 23.9145C28.773 24.0056 28.448 24.1378 28.0645 24.3067C26.7243 24.8976 24.6811 25.9333 22.9359 27.1345C22.5229 27.4194 22.1273 27.7137 21.7603 28.015V22.9733C21.7603 22.8097 21.694 22.6498 21.5786 22.5344C21.4629 22.4187 21.3031 22.3525 21.1398 22.3525H14.2147C14.0515 22.3525 13.8913 22.4187 13.7759 22.5344C13.6605 22.6498 13.5942 22.8097 13.5942 22.9733V33.1454C13.5942 33.4882 13.8723 33.7663 14.215 33.7663C14.5578 33.7663 14.8359 33.4882 14.8359 33.1454V23.5938H20.519V29.2137C20.2779 29.4993 20.0701 29.7919 19.9124 30.0986C19.7255 30.4631 19.6039 30.8541 19.6036 31.265C19.6036 31.3791 19.6157 31.4942 19.6359 31.6083C19.6468 32.106 19.7762 32.6232 19.9793 33.1454C19.9846 33.1591 19.9893 33.1728 19.9949 33.1868C20.1526 33.5806 20.3538 33.975 20.5877 34.3522H6.23533ZM23.149 35.2813C22.9434 35.1662 22.7213 34.9985 22.5046 34.788C22.0585 34.3581 21.6359 33.7579 21.3385 33.1551C21.1895 32.854 21.071 32.5523 20.9923 32.2755C20.913 31.999 20.8745 31.7464 20.8751 31.5527C20.8751 31.5076 20.8707 31.4656 20.8611 31.4217C20.8502 31.3713 20.8449 31.3203 20.8446 31.2653C20.8446 31.1732 20.8602 31.0696 20.8972 30.9515C20.9653 30.7309 21.1121 30.4622 21.3354 30.1742C21.7248 29.6685 22.3394 29.1105 23.0625 28.5705C24.1477 27.7585 25.4746 26.9799 26.6655 26.3594C27.2611 26.049 27.8228 25.7775 28.3037 25.5595C28.7836 25.3415 29.1854 25.1763 29.4473 25.0821C29.8324 24.9424 30.3493 24.832 30.9362 24.7611C31.5237 24.6895 32.1828 24.6553 32.8646 24.6556C33.714 24.6553 34.5985 24.7082 35.4296 24.8024C36.2604 24.8967 37.0389 25.0329 37.6693 25.1953C38.0696 25.2973 38.5999 25.5191 39.1781 25.8096C40.0477 26.2453 41.0321 26.8307 41.9702 27.3815C42.4395 27.6571 42.8983 27.9239 43.3303 28.1606C43.7627 28.3973 44.1667 28.6038 44.5377 28.7596C46.5323 29.5972 48.5665 30.3689 50.6261 31.0451C51.0015 31.1682 51.3545 31.2777 51.6612 31.3956C51.8917 31.4836 52.0954 31.576 52.2652 31.6765C52.3924 31.7517 52.5007 31.8307 52.5909 31.9153C52.7262 32.0432 52.8241 32.1791 52.8988 32.3626C52.9725 32.5458 53.0222 32.7831 53.0222 33.1066C53.0219 33.7613 52.7585 34.3482 52.3299 34.7777C51.9234 35.1833 51.3757 35.4377 50.7639 35.4648C50.6336 34.7292 50.2787 34.0689 49.7729 33.5638C49.1285 32.9178 48.2309 32.5169 47.2458 32.5172C46.2611 32.5169 45.3635 32.9181 44.7188 33.5638C44.2118 34.0698 43.8566 34.732 43.7269 35.4701H34.7705V30.256C34.7705 29.9132 34.4925 29.6352 34.1497 29.6352C33.807 29.6352 33.5289 29.9129 33.5289 30.256V35.4701H30.1481C30.0187 34.7323 29.6632 34.0701 29.1562 33.5638C28.5114 32.9178 27.6141 32.5169 26.6291 32.5172C25.6441 32.5169 24.7467 32.9181 24.102 33.5638C23.6389 34.0266 23.3026 34.6194 23.149 35.2813ZM24.98 37.7402C24.557 37.3163 24.2973 36.7372 24.297 36.0912C24.2973 35.4449 24.557 34.8657 24.98 34.4418C25.4039 34.0188 25.9831 33.7591 26.6294 33.7588C27.2754 33.7591 27.8548 34.0188 28.2788 34.4418C28.7018 34.8657 28.9618 35.4449 28.9618 36.0912C28.9618 36.7372 28.7018 37.3163 28.2788 37.7402C27.8548 38.1632 27.2754 38.423 26.6294 38.4233C25.9831 38.423 25.4039 38.1632 24.98 37.7402ZM29.3363 38.4233C29.7474 37.9468 30.0348 37.3586 30.1484 36.7114H34.15H43.7272C43.8407 37.3583 44.1284 37.9468 44.5393 38.4233H29.3363ZM45.5968 37.7402C45.1738 37.3163 44.9141 36.7372 44.9138 36.0912C44.9141 35.4449 45.1738 34.8657 45.5968 34.4418C46.0207 34.0188 46.5998 33.7591 47.2462 33.7588C47.8925 33.7591 48.4716 34.0188 48.8955 34.4418C49.3185 34.8657 49.5782 35.4449 49.5786 36.0912C49.5782 36.7372 49.3185 37.3163 48.8955 37.7402C48.4716 38.1632 47.8925 38.423 47.2462 38.4233C46.5998 38.423 46.0207 38.1632 45.5968 37.7402Z"></path> </svg>
              </div>
              <div class="flex flex-col space-y-5 pt-6 md:pt-8 lg:pt-12">
                <h3 class="text-center">Driveway Washing</h3>
                <p class="p1 text-center text-light_gray">Using pressure washing techniques our skilled personnel will deep clean your driveway leaving no dirt, stains, debris or grime on the surface. We effectively clean and restore the beauty of your driveways making them appear brighter.</p>
                <a href="#" class="flex items-center justify-center text-primary font-medium text-base space-x-2.5 mt-auto">
                  <span class="block">Learn more</span>
                  <span class="block">
                    <svg class="w-1.5 h-2" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.33612 8.08612L5.52361 4.89863C5.74393 4.67831 5.74393 4.32208 5.52128 4.10176L2.33378 0.914264C2.11582 0.693943 1.75957 0.693943 1.53925 0.914264L1.0119 1.44863C0.791605 1.6666 0.791605 2.02285 1.0119 2.24317L3.27128 4.50253L1.0119 6.76191C0.791605 6.97987 0.791605 7.33612 1.0119 7.55645L1.5416 8.08612C1.75957 8.30644 2.11582 8.30644 2.33612 8.08612Z" fill="#003687" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" data-aos="zoom-out-right" data-aos-duration="2000">
          <div class="w-full h-full">
            <div class="w-full h-full rounded-lg p-5 md:p-6 lg:p-8 xl:p-12 hover:bg-white hover:shadow-md anim">
              <div class="w-fit self-center mx-auto">
                <svg class="w-20 md:w-24 h-20 md:h-24 lg:w-28 lg:h-28" viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_664_56)"> <path d="M63.9632 21.8239L63.742 11.7029L63.6922 9.65663V9.61238L62.1326 9.64557L61.6072 9.66216L60.302 9.68981L58.6926 9.72299L56.6518 11.8578L50.2861 18.5111L48.4002 18.5498L48.2398 11.0725L48.2176 10.0991L47.1613 10.1212L41.7469 15.5356L23.872 33.4105L21.1399 36.1426L20.3822 35.9325L2.89998 31.0379L26.3718 6.52078L31.9798 7.78729L32.4389 5.75203L27.7932 4.70122L25.675 4.22559L23.9937 5.98431L0.809419 30.2138H0.803889L0.62691 30.4019L0.00195312 31.0545L0.0130143 31.414L0.0351367 32.592L0.0517284 33.311L0.0959732 35.4955L1.43438 35.8661L16.7154 40.1468L16.8979 48.4261L16.9422 50.5166L19.0272 50.4724L34.5184 50.135L36.4154 50.0908L37.5381 50.0686L64.002 23.6048L63.9632 21.8239ZM18.9829 48.3818L18.817 40.733L18.7672 38.5484L16.6712 37.9622L2.15335 33.8972L2.10911 32.0002L20.2163 37.0662L20.4043 37.1215L20.4209 37.6525V37.658L20.6089 46.3355L34.452 46.0368L34.264 37.5253L35.4752 37.4976L36.1333 37.4866L36.1554 38.4268L36.3656 48.0057L18.9829 48.3818ZM36.6421 36.2809L36.1112 36.292L34.8115 36.3196L50.3414 20.0984L51.2705 19.125L58.2612 11.8246V11.8191L60.0918 11.7804L37.2615 35.6338L36.6421 36.2809ZM37.5436 47.1098L37.3279 37.4589L37.3224 37.21L38.246 36.2422L61.657 11.7859V11.7472H61.6957L61.657 11.7859L61.9003 22.7586L37.5436 47.1098Z" fill="#005FAE"></path> <path d="M41.8073 27.7416L37.4105 32.6362L34.6341 32.4979C34.3742 30.7668 35.8841 27.4761 36.78 25.7229C37.145 25.004 37.4105 24.5449 37.4105 24.5449H40.2477L40.7842 25.6455L41.8073 27.7416Z" fill="white"></path> <path d="M40.0874 15.4193V22.3713H37.5488V15.4193C37.5488 15.0709 37.6926 14.7501 37.9194 14.5234C38.1517 14.2966 38.4669 14.1528 38.8209 14.1528C39.5233 14.1528 40.0874 14.717 40.0874 15.4193Z" fill="white"></path> <path d="M43.6382 1.10059L41.8352 3.61148C41.8352 3.61148 40.8341 4.80608 39.1528 4.31939C39.1528 4.31939 36.1497 3.66125 34.6897 6.97961V8.24058L34.9164 8.08019L35.1985 8.36225L34.7228 8.83788V10.3367L34.9164 10.1431L35.1542 10.5081L34.6841 10.9616V12.4991L34.9662 12.2945L35.1598 12.571L34.756 12.9748C34.756 12.9748 33.1245 14.5178 36.7692 16.2876L40.8673 15.8562C40.8673 15.8562 43.5939 14.6616 45.0208 9.46284L48.3889 4.48531L49.8767 5.43657L46.951 9.87764L42.4601 17.6592L35.7239 17.9523C35.7239 17.9523 33.4563 17.3439 32.5493 14.2191V6.95195C32.5493 6.95195 34.1864 1.63152 39.4294 2.46111C39.4294 2.46111 40.3087 2.92568 40.7954 1.87487L42.0785 0L43.6382 1.10059Z" fill="#005FAE"></path> <path d="M40.7844 15.4689V19.8325H40.0876V22.371H37.549V19.8325L36.7803 20.9276V15.4689C36.7803 14.9158 37.007 14.4181 37.3665 14.053C37.726 13.688 38.2293 13.4668 38.7823 13.4668C39.8885 13.4668 40.7844 14.3628 40.7844 15.4689Z" fill="#005FAE"></path> <path d="M40.0545 22.7861H37.5879V23.765H40.0545V22.7861Z" fill="white"></path> <path d="M40.0874 15.3916V22.3767H37.5488V15.3916C37.5488 14.7113 38.1185 14.1582 38.8153 14.1582C39.5177 14.1527 40.0874 14.7058 40.0874 15.3916Z" fill="white"></path> <path d="M28.7334 9.02588H27.937V9.82228H28.7334V9.02588Z" fill="#005FAE"></path> <path d="M23.4961 16.5752H22.6997V17.3716H23.4961V16.5752Z" fill="#005FAE"></path> <path d="M20.4653 25.6675H19.6689V26.4639H20.4653V25.6675Z" fill="#005FAE"></path> <path d="M21.6543 31.0044H20.8579V31.8008H21.6543V31.0044Z" fill="#005FAE"></path> <path d="M39.0039 36.502H38.2075V37.2984H39.0039V36.502Z" fill="#005FAE"></path> <path d="M40.1929 41.8389H39.3965V42.6353H40.1929V41.8389Z" fill="#005FAE"></path> <path d="M59.4229 16.5752H58.6265V17.3716H59.4229V16.5752Z" fill="#005FAE"></path> <path d="M43.0683 23.568L43.0269 24.3633L43.8221 24.4047L43.8636 23.6094L43.0683 23.568Z" fill="white"></path> <path d="M43.4721 17.506L43.4307 18.3013L44.226 18.3427L44.2674 17.5474L43.4721 17.506Z" fill="white"></path> <path d="M30.3852 36.7345L30.3438 37.5298L31.139 37.5712L31.1805 36.7759L30.3852 36.7345Z" fill="white"></path> <path d="M31.9608 28.5973L31.9194 29.3926L32.7147 29.434L32.7561 28.6387L31.9608 28.5973Z" fill="white"></path> <path d="M23.4291 42.9669L23.3877 43.7622L24.183 43.8036L24.2244 43.0083L23.4291 42.9669Z" fill="white"></path> <path d="M23.8388 36.9054L23.7974 37.7007L24.5927 37.7421L24.6341 36.9468L23.8388 36.9054Z" fill="white"></path> <path d="M31.5702 43.7911L31.5288 44.5864L32.3241 44.6278L32.3655 43.8325L31.5702 43.7911Z" fill="white"></path> <path d="M8.44728 29.6992H7.65088V30.4956H8.44728V29.6992Z" fill="#005FAE"></path> <path d="M29.8726 21.293H29.0762V22.0894H29.8726V21.293Z" fill="#005FAE"></path> </g> <defs> <clipPath id="clip0_664_56"> <rect width="64" height="50.5164" fill="white" transform="translate(0.00195312)"></rect> </clipPath> </defs> </svg>
              </div>
              <div class="flex flex-col space-y-5 pt-6 md:pt-8 lg:pt-12">
                <h3 class="text-center">Gutter Cleaning</h3>
                <p class="p1 text-center text-light_gray">A clear gutter must allow the free flow of water without any obstacles. Our skilled technicians ensure cleaning all sections of the gutters securely so that your house stays dry and free from any harm caused by the clogged gutters.</p>
                <a href="#" class="flex items-center justify-center text-primary font-medium text-base space-x-2.5 mt-auto">
                  <span class="block">Learn more</span>
                  <span class="block">
                    <svg class="w-1.5 h-2" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.33612 8.08612L5.52361 4.89863C5.74393 4.67831 5.74393 4.32208 5.52128 4.10176L2.33378 0.914264C2.11582 0.693943 1.75957 0.693943 1.53925 0.914264L1.0119 1.44863C0.791605 1.6666 0.791605 2.02285 1.0119 2.24317L3.27128 4.50253L1.0119 6.76191C0.791605 6.97987 0.791605 7.33612 1.0119 7.55645L1.5416 8.08612C1.75957 8.30644 2.11582 8.30644 2.33612 8.08612Z" fill="#003687" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- Offer Swiper [S] -->
<section class="w-full">
  <div class="swiper mySwiper3">
    <div class="swiper-wrapper">
      <!-- <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage2.png" alt=" Gutter Cleaning Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">Gutter Cleaning</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 99/- <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage3.png" alt="Roof Treatment Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">Roof Treatment</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 249$ <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage4.png" alt="House Wash Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">House Wash</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 249$ <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage5.png" alt="House Wash Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">House Wash + <br> Gutter Cleaning</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 299$ <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage6.png" alt=" Gutter Cleaning Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">House Wash + <br> Gutter Cleaning + <br> Roof Treatment</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 399$ <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="w-full relative h-[500px] lg:h-[400px] xl:h-[450px] 2xl:h-[500px] flex items-center px-12 sm:px-14 md:px-16 lg:px-20 xl:px-24">
          <img src="assets/images/swiperImage1.png" alt=" Gutter Cleaning Offer" class="absolute inset-0 w-full h-full object-cover">
          <div class="relative flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between space-y-5 md:space-y-0 w-full h-full">
            <div class="w-full md:w-1/2 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10">
              <h2 class="font-semibold text-white text-center md:text-left text-28 md:text-3xl xl:text-4xl">House Wash + <br> Gutter Cleaning + <br> Roof Treatment + <br> Deck Wash + <br> Driveway Wash</h2>
              <a href="/contactus" class="block text-sm md:text-base btn-primary mx-auto md:ml-0">Get a Free Quote</a>
            </div>
            <div class="w-full md:w-1/2 space-y-4">
              <span class="block text-white text-4xl sm:text-40 lg:text-56 xl:text-[66px] 2xl:text-[76px] xl:leading-[76px] 2xl:leading-[90px] text-center">At Only 599$ <br> +GST</span>
              <span class="block text-white text-center">*Terms and Conditions Applied</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Offer Swiper [E] -->

<section class="bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="max-w-[1700px] ml-auto px-5 md:pl-5">
    <div class="flex items-center flex-wrap">
      <div class="w-full lg:w-[37%] pb-6 pr-0 lg:pb-0 lg:pr-5">
        <div class="section_title max-w-xl mx-auto text-center lg:m-0 lg:text-left" data-aos="fade-right" data-aos-duration="1500">
          <h2 class="capitalize tracking-tight">What Our Clients Say About Our Services</h2>
          <p class="p1 pt-4 lg:pt-8 xl:pt-10 text-light_gray">Our clients praise the transformative impact of our impeccable cleaning service on their homes and lives.</p>
          <div class="flex items-center justify-center lg:justify-start space-x-4 pt-8 lg:pt-16 xl:pt-20">
            <div class="next">
              <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="-0.75" x2="14.5151" y2="-0.75" transform="matrix(-0.726673 0.686984 -0.726673 -0.686984 10.7734 0.52832)" stroke="white" stroke-width="1.5" />
                <line y1="-0.75" x2="14.5151" y2="-0.75" transform="matrix(-0.726673 -0.686984 -0.726673 0.686984 10.7734 20.4717)" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
            <div class="prev">
              <svg width="12" height="21" viewBox="0 0 12 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line y1="-0.75" x2="14.5151" y2="-0.75" transform="matrix(0.726673 0.686984 0.726673 -0.686984 1.22656 0.52832)" stroke="white" stroke-width="1.5" />
                <line y1="-0.75" x2="14.5151" y2="-0.75" transform="matrix(0.726673 -0.686984 0.726673 0.686984 1.22656 20.4717)" stroke="white" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-[63%]" data-aos="fade-left" data-aos-duration="1500">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="w-full h-full bg-cyan p-2">
                <div class="w-full h-full bg-white p-6 xl:p-8 space-y-3 md:space-y-6 xl:space-y-10">
                  <div class="relative">
                    <div>
                      <span class="block font-bold text-lg md:text-xl xl:text-2xl text-dark">Rubie T.</span>
                      <p class="text-sm font-medium text-medium-persian-blue">Happy Customer</p>
                    </div>
                    <img src="assets/images/block-quote.png" class="absolute -right-3 top-1/2 -translate-y-1/2" alt="block-quote">
                  </div>
                  <p class="p1 text-light_gray">The team was friendly and took care of everything. My house looks bright and clean now. They were quick and thorough. Definitely worth it!</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-full h-full bg-cyan p-2">
                <div class="w-full h-full bg-white p-6 xl:p-8 space-y-3 md:space-y-6 xl:space-y-10">
                  <div class="relative">
                    <div>
                      <span class="block font-bold text-lg md:text-xl xl:text-2xl text-dark">Oliver S.</span>
                      <p class="text-sm font-medium text-medium-persian-blue">Happy Customer</p>
                    </div>
                    <img src="assets/images/block-quote.png" class="absolute -right-3 top-1/2 -translate-y-1/2" alt="block-quote">
                  </div>
                  <p class="p1 text-light_gray">Very professional service and hassle-free booking. I hired them for gutter and roof cleaning. They removed all the debris and even looked for any problems. Water is now flowing easily. The roof looks like new. Totally satisfied with their work.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-full h-full bg-cyan p-2">
                <div class="w-full h-full bg-white p-6 xl:p-8 space-y-3 md:space-y-6 xl:space-y-10">
                  <div class="relative">
                    <div>
                      <span class="block font-bold text-lg md:text-xl xl:text-2xl text-dark">Thomas S</span>
                      <p class="text-sm font-medium text-medium-persian-blue">Happy Customer</p>
                    </div>
                    <img src="assets/images/block-quote.png" class="absolute -right-3 top-1/2 -translate-y-1/2" alt="block-quote">
                  </div>
                  <p class="p1 text-light_gray">The workers utilized gentle techniques. My roof looks fantastic now that they finished without leaving a mess, and the pricing was reasonable. Extremely satisfied.</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="w-full h-full bg-cyan p-2">
                <div class="w-full h-full bg-white p-6 xl:p-8 space-y-3 md:space-y-6 xl:space-y-10">
                  <div class="relative">
                    <div>
                      <span class="block font-bold text-lg md:text-xl xl:text-2xl text-dark">Jason M.</span>
                      <p class="text-sm font-medium text-medium-persian-blue">Happy Customer</p>
                    </div>
                    <img src="assets/images/block-quote.png" class="absolute -right-3 top-1/2 -translate-y-1/2" alt="block-quote">
                  </div>
                  <p class="p1 text-light_gray">The oil stains in my driveway were bothering me, but after their cleaning service, it's spotless. The professionals were punctual, and they used effective techniques. My driveway looks brand new.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="wrapper">
    <div class="flex flex-wrap lg:flex-nowrap items-center">
      <div class="section_title lg:max-w-xl w-full mt-5 lg:mt-0" data-aos="fade-right" data-aos-duration="1500">
        <h2 class="capitalize tracking-tight">Adding Glow to Your Home</h2>
        <p class="p1 pt-5 md:pt-8 lg:pt-11">With our expert cleaning services at Global Water Blasting add a radiant glow to your valuable home.</p>
        <ul class="flex flex-col space-y-5 my-5 md:my-7 lg:my-9">
          <li class="flex items-center space-x-4">
            <div>
              <span class="w-6 h-6 bg-medium-persian-blue rounded-full flex justify-center items-center">
                <svg class="w-2.5 h-2.5" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.66667L4.92857 9L10 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            <span class="block text-sm md:text-base font-medium">Professional grade equipments</span>
          </li>
          <li class="flex items-center space-x-4">
            <div>
              <span class="w-6 h-6 bg-medium-persian-blue rounded-full flex justify-center items-center">
                <svg class="w-2.5 h-2.5" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.66667L4.92857 9L10 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            <span class="block text-sm md:text-base font-medium">Affordable pricing</span>
          </li>
          <li class="flex items-center space-x-4">
            <div>
              <span class="w-6 h-6 bg-medium-persian-blue rounded-full flex justify-center items-center">
                <svg class="w-2.5 h-2.5" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.66667L4.92857 9L10 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            <span class="block text-sm md:text-base font-medium">Fully insured</span>
          </li>
          <li class="flex items-center space-x-4">
            <div>
              <span class="w-6 h-6 bg-medium-persian-blue rounded-full flex justify-center items-center">
                <svg class="w-2.5 h-2.5" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.66667L4.92857 9L10 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            <span class="block text-sm md:text-base font-medium">A reliable and friendly team</span>
          </li>
          <li class="flex items-center space-x-4">
            <div>
              <span class="w-6 h-6 bg-medium-persian-blue rounded-full flex justify-center items-center">
                <svg class="w-2.5 h-2.5" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6.66667L4.92857 9L10 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            <span class="block text-sm md:text-base font-medium">Best results guaranteed</span>
          </li>
        </ul>
        <a href="/contactus" class="block text-sm md:text-base btn-primary">Get a Free Quote</a>
      </div>
      <div class="w-full lg:w-fit max-h-[550px] overflow-hidden rounded-3xl order-first lg:order-last lg:ml-8" data-aos="flip-left" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1500">
        <img src="assets/images/your-window.jpg" alt="your Window" class="w-full object-cover">
      </div>
    </div>
  </div>
</section>

<section class="bg-[#F2F5F9] w-full relative overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="w-full h-0.5 absolute bottom-0 left-1/2 -translate-x-1/2 px-5 sm:px-6 lg:px-8">
    <span class="block max-w-7xl w-full h-full bg-[#DEDEDE] mx-auto"></span>
  </div>
  <div class="wrapper">
    <div class="section_title max-w-[685px]" data-aos="fade-right" data-aos-duration="1500">
      <h2>Excellent Techniques For Effective Cleaning</h2>
    </div>
    <div class="flex flex-wrap items-center mt-4 md:mt-8 lg:mt-10">
      <div class="w-full md:w-7/12">
        <div class="flex items-center -mx-3">
          <div class="w-1/2 p-3" data-aos="flip-down" data-aos-duration="1500">
            <img src="assets/images/excellent-techniques1.jpg" alt="Techniques No 1" class="rounded-2xl">
          </div>
          <div class="w-1/2 p-3" data-aos="flip-up" data-aos-duration="1500">
            <img src="assets/images/excellent-techniques2.jpg" alt="Techniques No 2" class="rounded-2xl">
          </div>
        </div>
      </div>
      <div class="w-full md:w-5/12 flex justify-center md:block mt-5 md:mt-0 md:pl-10 lg:pl-24 xl:pl-32">
        <div class="w-1/2 md:w-full xl:w-7/12" data-aos="fade-up" data-aos-duration="1500">
          <h2 class="text-medium-persian-blue text-center md:text-left">240+</h2>
          <p class="p1 pt-3 text-light_gray text-center md:text-left">Residential houses have used our cleaning services. They trust us to keep their property clean and shining.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full bg-[#F2F5F9] overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
  <div class="wrapper">
    <div class="flex flex-wrap md:flex-nowrap items-center justify-between" data-aos="zoom-in" data-aos-duration="1500">
      <h2 class="max-w-lg lg:max-w-3xl">Lets Give a Glow to Your Lovely House With Global</h2>
      <div class="w-fit pt-2">
        <a href="/contactus" class="block text-sm md:text-base btn-primary">Get a Free Quote</a>
      </div>
    </div>
  </div>
</section>