<!-- About Us Banner- [S] -->
<section class="relative w-full overflow-hidden pt-40 sm:pt-44 pb-24 md:pt-48 md:pb-28 lg:pt-56 lg:pb-44">
    <img src="assets/images/about-us-banner.png" alt="About US"
        class="absolute inset-0 w-full h-full object-cover -z-10">
    <div class="wrapper">
        <div class="w-fit mx-auto sm:mx-0" data-aos="zoom-in" data-aos-duration="1500">
            <h1 class="text-white">About Us</h1>
            <div class="flex items-cente space-x-1">
                <span class="blockr text-white font-medium">Home</span>
                <span class="block"><svg class="w-3 h-3" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 13L12.4665 7.64018C12.7216 7.33408 12.8491 7.18102 12.8491 7C12.8491 6.81898 12.7216 6.66592 12.4665 6.35982L8 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M1 13L5.46651 7.64018C5.7216 7.33408 5.84915 7.18102 5.84915 7C5.84915 6.81898 5.7216 6.66592 5.46651 6.35982L1 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span>
                <span class="blockr text-white font-medium">About Us</span>
            </div>
        </div>
    </div>
</section>
<!-- About Us Banner- [E] -->

<!-- About us [S] -->
<section class="w-full bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="lg:w-11/12 flex flex-wrap md:flex-nowrap items-center">
            <div class="md:w-1/2" data-aos="fade-right" data-aos-duration="1500">
                <video controls autoplay preload>
                    <source src="assets/images/Videos/about-us.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="md:w-1/2" data-aos="fade-left" data-aos-duration="1500">
                <div class="lg:max-w-xl ml-auto py-5 md:py-0 md:px-5">
                    <h2 class="text-primary">About Us</h2>
                    <p class="p1 text-light_gray pt-2.5 font-normal">We at Global Water Blasting are a resource for you
                        in maintaining the beauty and integrity of your property. Our journey began with a
                        straightforward but important goal: to transform how homeowners see home maintenance. We
                        recognize that your house is more than simply a physical building; it's your asset, a haven, and
                        a symbol of your pride. This understanding is what motivated us to start this business.</p>
                </div>
            </div>
        </div>
        <div
            class="lg:w-11/12 flex flex-wrap md:flex-nowrap items-center ml-auto pt-12 sm:pt-14 md:pt-16 lg:pt-20 xl:pt-24">
            <div class="md:w-1/2" data-aos="fade-right" data-aos-duration="1500">
                <div class="lg:max-w-xl mr-auto py-5 md:py-0 md:px-5">
                    <h2 class="text-primary">Our Objective</h2>
                    <p class="p1 text-light_gray pt-2.5 font-normal">We aim to provide a wide range of services that
                        will improve the appeal and lifespan of your home. Our professional-grade equipment and skilled
                        staff guarantee that every operation is carried out precisely and carefully, from driveway
                        cleaning to home cleaning to roof washing. We take pleasure in keeping our services affordable
                        so that they are easily available to all homeowners. We are completely insured, so you may have
                        confidence in us during the procedure.</p>
                </div>
            </div>
            <div class="md:w-1/2 order-first md:order-last" data-aos="fade-left" data-aos-duration="1500">
                <video controls autoplay preload>
                    <source src="assets/images/Videos/whatWeDo.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</section>
<!-- About us [E] -->

<!-- Our Story [S] -->
<section class="w-full bg-[#F8F5F5] overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="flex flex-wrap items-center -mx-3 -mt-5 lg:mt-0">
            <div class="w-full lg:w-1/2 p-3" data-aos="fade-up" data-aos-duration="1500">
                <h1>Our Story</h1>
                <p class="p1 text-light_gray pt-3.5 font-normal">Our company's history is one that is firmly grounded in
                    a dedication to excellence and a sincere desire to make life easier for homeowners in Auckland
                    region. Frustrated by our own experiences of struggling to find reliable and high-quality services
                    for our homes, we decided it was time to bridge the gap. We wanted to build a company where
                    customers could count on us to keep our promises.</p>
                <!-- <p class="p1 text-light_gray pt-1.5 md:pt-2 lg:pt-3 font-normal">Bas now passes the same standards onto an
            in house, friendly team who carry on the company’s mission to always deliver the best.</p> -->
            </div>
            <div class="w-full lg:w-1/2 px-3 pt-3" data-aos="fade-down" data-aos-duration="1500">
                <div class="flex items-center -m-3">
                    <div class="w-1/2 p-3"><img src="assets/images/history-one.png" alt="History"
                            class="w-full object-cover">
                    </div>
                    <div class="w-1/2 p-3"><img src="assets/images/history-two.png" alt="History"
                            class="w-full object-cover">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Story [E] -->

<!-- Fast Clean Services [S] -->
<section class="w-full bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="flex flex-wrap items-center -mx-3">
            <div class="w-full lg:w-7/12 p-3 space-y-4 md:space-y-6 lg:space-y-8 xl:space-y-10" data-aos="zoom-in"
                data-aos-duration="1500">
                <h1>Services That You Can Trust</h1>
                <p class="p1 text-light_gray font-normal">Our daily ability to modify spaces is what genuinely inspires
                    us. The delight of seeing your fences restored, your house looking renewed, and your roof shining
                    like new is what motivates us. Our motivation comes from realizing that our cleaning services
                    maintain your house dry and safe. But above all, we are inspired by you who trust us to care for
                    your most cherished asset, your homes.</p>
                <div class="w-fit flex items-center justify-center bg-primary p-2">
                    <p class="block text-white px-7 lg:px-9 xl:px-11">Get Started</p>
                    <a href="#"
                        class="flex items-center justify-center w-8 md:w-10 lg:w-12 xl:w-14 h-8 md:h-10 lg:h-12 xl:h-14 bg-white cursor-pointer">
                        <svg viewBox="0 0 27 12" class="w-5 md:w-6 lg:w-8 h-3 fill-primary"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M26.0912 6.14996C26.3841 5.85707 26.3841 5.38219 26.0912 5.0893L21.3182 0.316328C21.0253 0.0234346 20.5504 0.0234346 20.2575 0.316328C19.9646 0.609221 19.9646 1.0841 20.2575 1.37699L24.5002 5.61963L20.2575 9.86227C19.9646 10.1552 19.9646 10.63 20.2575 10.9229C20.5504 11.2158 21.0253 11.2158 21.3182 10.9229L26.0912 6.14996ZM0.698242 6.36963H25.5608V4.86963H0.698242V6.36963Z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="w-full lg:w-5/12 p-3" data-aos="zoom-in-up" data-aos-duration="1500">
                <video controls autoplay preload>
                    <source src="assets/images/Videos/fast-clean-services.mp4" type="video/mp4" />
                </video>
                <!-- <iframe class="w-full h-[400px]" src="https://www.youtube.com/embed/Ij0KypgKPNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
            </div>
        </div>
    </div>
</section>
<!-- Fast Clean Services [E] -->

<!-- What you can do with global blasting water [s] -->
<section class="w-full relative overflow-hidden pb-10 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-24">
    <div class="wrapper">
        <div class="max-w-6xl relative mx-auto pt-12 canDo_slider" data-aos="flip-left" data-aos-duration="1500">
            <img src="assets/images/what-you-can-do.png" alt="What You Can do With Global Water Blasting"
                class="absolute top-0 left-0 right-0 w-full min-h-[338px] -z-[1]">
            <h3 class="xl:text-4xl text-center">What You Can Do With Global Water Blasting</h3>
            <div class="max-w-5xl flex items-center justify-between xl:mt-14 mx-auto">
                <div class="swiper mySwiper2 pt-10 pb-16 lg:pb-20 md:px-10">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="relative max-w-xs cursor-pointer group p-4 mx-auto">
                                <div class="relative overflow-hidden rounded-2xl h-80">
                                    <img src="assets/images/nav.png" alt="House Wash"
                                        class="w-full h-full object-cover">
                                    <span
                                        class="block absolute inset-0 -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 anim bg-gradient-to-t from-[#0088CE]/70 to-transparent"></span>
                                </div>
                                <h4
                                    class="absolute top-full -translate-x-6 w-full text-center group-hover:top-[330px] lg:group-hover:top-[280px] xl:group-hover:top-[290px] group-hover:text-white anim z-20">
                                    House Wash</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative max-w-xs cursor-pointer group p-4 mx-auto">
                                <div class="relative overflow-hidden rounded-2xl h-80">
                                    <img src="assets/images/nav 2.png" alt="Deck Wash"
                                        class="w-full h-full object-cover">
                                    <span
                                        class="block absolute inset-0 -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 anim bg-gradient-to-t from-[#0088CE]/70 to-transparent"></span>
                                </div>
                                <h4
                                    class="absolute top-full -translate-x-6 w-full text-center group-hover:top-[330px] lg:group-hover:top-[280px] xl:group-hover:top-[290px] group-hover:text-white anim z-20">
                                    Deck Wash</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative max-w-xs cursor-pointer group p-4 mx-auto">
                                <div class="relative overflow-hidden rounded-2xl h-80">
                                    <img src="assets/images/clran_bot.jpg" alt="Roof Wash"
                                        class="w-full h-full object-cover">
                                    <span
                                        class="block absolute inset-0 -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 anim bg-gradient-to-t from-[#0088CE]/70 to-transparent"></span>
                                </div>
                                <h4
                                    class="absolute top-full -translate-x-6 w-full text-center group-hover:top-[330px] lg:group-hover:top-[280px] xl:group-hover:top-[290px] group-hover:text-white anim z-20">
                                    Roof Wash</h4>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="relative max-w-xs cursor-pointer group p-4 mx-auto">
                                <div class="relative overflow-hidden rounded-2xl h-80">
                                    <img src="assets/images/clran_top.jpg" alt="House Wash"
                                        class="w-full h-full object-cover">
                                    <span
                                        class="block absolute inset-0 -translate-x-full translate-y-full group-hover:translate-x-0 group-hover:translate-y-0 anim bg-gradient-to-t from-[#0088CE]/70 to-transparent"></span>
                                </div>
                                <h4
                                    class="absolute top-full -translate-x-6 w-full text-center group-hover:top-[330px] lg:group-hover:top-[280px] xl:group-hover:top-[290px] group-hover:text-white anim z-20">
                                    House Wash</h4>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination -translate-x-2.5"></div>
                </div>
            </div>
            <div class="next absolute top-1/2 -translate-y-1/2 left-0 sm:left-10 md:left-0 xl:-translate-x-[150%] z-20">
                <svg class="w-1.5 h-3 stroke-2 stroke-medium-persian-blue" viewBox="0 0 12 21" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.75" x2="14.5151" y2="-0.75"
                        transform="matrix(-0.726673 0.686984 -0.726673 -0.686984 10.7734 0.52832)" />
                    <line y1="-0.75" x2="14.5151" y2="-0.75"
                        transform="matrix(-0.726673 -0.686984 -0.726673 0.686984 10.7734 20.4717)" />
                </svg>
            </div>
            <div
                class="prev absolute top-1/2 -translate-y-1/2 right-0 sm:right-10 md:right-0 xl:translate-x-[150%] z-20">
                <svg class="w-1.5 h-3 stroke-2 stroke-medium-persian-blue" viewBox="0 0 12 21" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.75" x2="14.5151" y2="-0.75"
                        transform="matrix(0.726673 0.686984 0.726673 -0.686984 1.22656 0.52832)" />
                    <line y1="-0.75" x2="14.5151" y2="-0.75"
                        transform="matrix(0.726673 -0.686984 0.726673 0.686984 1.22656 20.4717)" />
                </svg>
            </div>
        </div>
    </div>
</section>
<!-- What you can do with global blasting water [E] -->

<!-- footer-one [S] -->
<section class="w-full bg-[#F2F5F9] overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="flex flex-wrap md:flex-nowrap items-center justify-between" data-aos="zoom-in"
            data-aos-duration="1500">
            <h2 class="max-w-lg lg:max-w-3xl">Your Home Deserves the Best</h2>
            <div class="w-fit pt-2">
                <a href="contact-us.html" class="block text-sm md:text-base btn-primary">Request Services</a>
            </div>
        </div>
    </div>
</section>
<!-- footer-one [E] -->