<script src="/javascripts/controllers/contactus.controller.js"></script>
<!-- Services Banner- [S] -->
<section class="relative w-full overflow-hidden pt-40 sm:pt-44 pb-24 md:pt-48 md:pb-28 lg:pt-56 lg:pb-44">
    <img src="assets/images/contact-us-banner.png" alt="Services"
        class="absolute inset-0 w-full h-full object-cover -z-10">
    <div class="wrapper">
        <div class="w-fit mx-auto sm:mx-0" data-aos="zoom-in" data-aos-duration="1500">
            <h1 class="text-white">Contact Us</h1>
            <div class="flex items-center space-x-1">
                <span class="block text-white font-medium">Home</span>
                <span class="block"><svg class="w-3 h-3" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 13L12.4665 7.64018C12.7216 7.33408 12.8491 7.18102 12.8491 7C12.8491 6.81898 12.7216 6.66592 12.4665 6.35982L8 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M1 13L5.46651 7.64018C5.7216 7.33408 5.84915 7.18102 5.84915 7C5.84915 6.81898 5.7216 6.66592 5.46651 6.35982L1 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg></span>
                <span class="block text-white font-medium">Contact Us</span>
            </div>
        </div>
    </div>
</section>
<!-- Services Banner- [E] -->

<!-- Our Work [S]. -->
<section class="w-full bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="flex flex-wrap justify-center -mx-5">
            <div class="w-full md:w-7/12 px-5">
                <p class="text-2xl sm:text-28 md:text-3xl lg:text-4xl xl:text-40 text-primary font-semibold"
                    data-aos="fade-right" data-aos-duration="1500">Would You Like a Quote for Your House Cleaning?</p>
                <h4 class="font-medium opacity-70 mt-3" data-aos="fade-right" data-aos-duration="1500">Fill out the form
                    right to receive your quote</h4>
            </div>
            <div class="w-full md:w-7/12 px-5 mt-5">
                <form class="flex flex-wrap -mx-1 md:-m-3">
                    <div class="w-full sm:w-1/2 pt-3 sm:p-2 md:p-3" data-aos="fade-right" data-aos-duration="500">
                        <input id="y_name" type="text" name="name" ng-model="name"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Your Name">
                    </div>
                    <div class="w-full sm:w-1/2 pt-3 sm:p-2 md:p-3" data-aos="fade-right" data-aos-duration="700">
                        <input id="email" type="email" name="email" ng-model="email"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Email">
                    </div>
                    <div class="w-full sm:w-1/2 pt-3 sm:p-2 md:p-3" data-aos="fade-left" data-aos-duration="700">
                        <input id="phone_number" type="tel" name="mobile"  ng-model="mobile"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Phone Number">
                    </div>
                    <div class="w-full sm:w-1/2 pt-3 sm:p-2 md:p-3" data-aos="fade-right" data-aos-duration="1000">
                        <input id="address" type="text" name="address" ng-model="address"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Address">
                    </div>
                    <div class="w-full pt-3 sm:p-2 md:p-3" data-aos="fade-left" data-aos-duration="1000">
                        <input id="post_code" type="tel" name="postcode" ng-model="postcode"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Postcode">
                    </div>
                    <div class="w-full pt-3 sm:p-2 md:p-3" data-aos="fade-right" data-aos-duration="1300">
                        <textarea name="message" id="massage"  ng-model="massage"
                            class="w-full outline-none rounded-lg bg-[#F2F4F7] placeholder:font-semibold p-2.5 sm:p-3 lg:p-4"
                            placeholder="Massage" rows="3"></textarea>
                    </div>
                    <div class="w-full pt-3 sm:p-2 md:p-3" data-aos="zoom-in" data-aos-duration="1000">
                        <button type="submit" ng-click="onContact()" class="block text-sm md:text-base btn-primary w-full text-center cursor-pointer mx-auto">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Our Work [E]. -->