<!-- Services Banner- [S] -->
<section class="relative w-full overflow-hidden pt-40 sm:pt-44 pb-24 md:pt-48 md:pb-28 lg:pt-56 lg:pb-44">
    <img src="assets/images/work-banner.png" alt="Services" class="absolute inset-0 w-full h-full object-cover -z-10">
    <div class="wrapper">
        <div class="w-fit mx-auto sm:mx-0" data-aos="zoom-in" data-aos-duration="1500">
            <h1 class="text-white">Our Work</h1>
            <div class="flex items-center space-x-1">
                <span class="block text-white font-medium">Home</span>
                <span class="block">
                    <svg class="w-3 h-3" viewBox="0 0 14 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M8 13L12.4665 7.64018C12.7216 7.33408 12.8491 7.18102 12.8491 7C12.8491 6.81898 12.7216 6.66592 12.4665 6.35982L8 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M1 13L5.46651 7.64018C5.7216 7.33408 5.84915 7.18102 5.84915 7C5.84915 6.81898 5.7216 6.66592 5.46651 6.35982L1 1"
                            stroke="#003687" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </span>
                <span class="block text-white font-medium">Our Work</span>
            </div>
        </div>
    </div>
</section>
<!-- Services Banner- [E] -->

<!-- Our Work [S]. -->
<section class="w-full bg-white overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="section_title" data-aos="fade-right" data-aos-duration="1500">
            <h2>Our Work</h2>
        </div>
        <div class="w-full space-y-12 md:space-y-16 lg:space-y-20 xl:space-y-24">
            <!-- different-work [S] -->
            <div class="flex relative flex-wrap items-center justify-between pt-10 lg:pt-12 xl:pt-20 work_slider">
                <div class="swiper ourWork-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-aos="fade-right" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/concrete-cleaning.svg" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Concrete Cleaning</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-up" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/decks-cealining.svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Decks Cleaning</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-down" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/patio-cleaning.svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Patio Washing</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-left" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/wall-cleaning.svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Wall Cleaning</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-right" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/fence-cleaning .svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Fence Cleaning</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-right" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/roof-cleaning.svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Roof Washing</span>
                        </div>
                        <div class="swiper-slide" data-aos="fade-right" data-aos-duration="1500">
                            <div class="w-28 lg:w-32 xl:w-36 mx-auto pb-2 lg:pb-5 xl:pb-7">
                                <img src="assets/images/svg/gutter-services.svg" alt="Floor" class="w-full">
                            </div>
                            <span class="block sm:text-lg md:text-xl font-medium text-center">Gutter Cleaning</span>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="next absolute top-1/2 -translate-y-1/2 right-[90%] sm:right-[95%] xl:right-[98%] 2xl:right-[100%] z-30"
                    data-aos="zoom-in-left" data-aos-duration="1500">
                    <svg class="w-2.5 -translate-x-0.5" viewBox="0 0 12 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.75" x2="14.5151" y2="-0.75"
                            transform="matrix(-0.726673 0.686984 -0.726673 -0.686984 10.7734 0.52832)" stroke="white"
                            stroke-width="1.5" />
                        <line y1="-0.75" x2="14.5151" y2="-0.75"
                            transform="matrix(-0.726673 -0.686984 -0.726673 0.686984 10.7734 20.4717)" stroke="white"
                            stroke-width="1.5" />
                    </svg>
                </div>
                <div class="prev absolute top-1/2 -translate-y-1/2 left-[90%] sm:left-[95%] xl:left-[98%] 2xl:left-[100%] z-30"
                    data-aos="zoom-in-right" data-aos-duration="1500">
                    <svg class="w-2.5 translate-x-0.5" viewBox="0 0 12 21" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line y1="-0.75" x2="14.5151" y2="-0.75"
                            transform="matrix(0.726673 0.686984 0.726673 -0.686984 1.22656 0.52832)" stroke="white"
                            stroke-width="1.5" />
                        <line y1="-0.75" x2="14.5151" y2="-0.75"
                            transform="matrix(0.726673 -0.686984 0.726673 0.686984 1.22656 20.4717)" stroke="white"
                            stroke-width="1.5" />
                    </svg>
                </div>
            </div>
            <!-- different-work [S] -->
            <!-- Professional home Cleaning [S] -->
            <div class="flex flex-wrap md:flex-nowrap items-center">
                <div class="w-full md:w-1/2" data-aos="flip-left" data-aos-duration="1000">
                    <img src="assets/images/professional-house-cleaning.jpg" alt="building wash"
                        class="w-full h-[450px] sm:h-[550px] md:h-auto object-cover" data-aos="zoom-in"
                        data-aos-duration="1000">
                </div>
                <div class="lg:w-1/2 md:px-5 mt-5 md:mt-0">
                    <div class="max-w-2xl space-y-5 lg:space-y-8 xl:space-y-12 xl:px-12">
                        <h2 data-aos="fade-left" data-aos-duration="1500">Professional Home Cleaning!</h2>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="700">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Pressure Washing</p>
                                <p class="text-light_gray"> Our high-pressure washing techniques effectively eliminate
                                    dirt, grime, and Mould from various exterior surfaces, including siding, brick,
                                    concrete, and wood. Our expert team meticulously adjusts the pressure and nozzle
                                    settings to prevent any potential damage to your home's surfaces</p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="700">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Soft Washing</p>
                                <p class="text-light_gray">For more delicate surfaces like stucco or older paint, we
                                    employ soft washing. This method combines low-pressure water with specialized
                                    detergents, offering gentle yet highly effective stain and contaminant removal while
                                    preserving your home's exterior.</p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="1000">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Eco-Friendly Cleaning Products</p>
                                <p class="text-light_gray">We prioritize environmental responsibility by using
                                    eco-friendly and biodegradable cleaning solutions, minimizing our impact on the
                                    environment. Rest assured, our cleaning products are safe for your family, pets, and
                                    landscaping.</p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="1300">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Mould and Mildew Removal</p>
                                <p class="text-light_gray"> Our skilled team excels at eradicating Mould and mildew, not
                                    only enhancing your home's appearance but also fostering a healthier living
                                    environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Professional home Cleaning [E] -->
            <!-- Fully Insured! Guaranteed Results! [S] -->
            <div class="flex flex-wrap md:flex-nowrap items-center">
                <div class="lg:w-1/2 md:px-5 mt-5 md:mt-0">
                    <div class="max-w-2xl space-y-5 lg:space-y-8 xl:space-y-12 xl:px-12">
                        <h2 data-aos="fade-left" data-aos-duration="1500">Fully Insured! Guaranteed Results!</h2>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="700">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Quality Assurance</p>
                                <p class="text-light_gray">Our experienced technicians are dedicated to detail and take
                                    immense pride in their work, ensuring your complete satisfaction with the results.
                                </p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="1000">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Affordable Pricing</p>
                                <p class="text-light_gray">We offer competitive pricing and provide transparent quotes,
                                    ensuring you know exactly what to expect without any surprises.</p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="1300">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Satisfaction Guarantee</p>
                                <p class="text-light_gray">Our commitment to excellence is backed by a satisfaction
                                    guarantee. If you're not completely satisfied with the results, rest assured that
                                    we'll make it right. Your peace of mind is our priority.</p>
                            </div>
                        </div>
                        <div class="w-full flex items-start space-x-3 lg:space-x-4 xl:space-x-6" data-aos="fade-down"
                            data-aos-duration="1600">
                            <div class="border-[1.5px] border-medium-persian-blue">
                                <span class="w-5 md:w-7 h-5 md:h-7 lg:w-9 lg:h-11 flex items-center justify-center"><svg
                                        class="w-3 md:w-4 lg:w-5" viewBox="0 0 24 19" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.00098 9.89338L7.86307 16.7555L22.8739 1.74463" stroke="#005FAE"
                                            stroke-width="2.125" />
                                    </svg></span>
                            </div>
                            <div class="group space-y-3">
                                <p class="p1 font-semibold group-hover:text-medium-persian-blue anim cursor-pointer">
                                    Cleaning services for all types of houses</p>
                                <p class="text-light_gray">We clean houses with all types of exteriors - weatherboard
                                    (wooden or PVC), fibreboard, stucco, concrete plaster/monolithic, brick, cinder
                                    block, or aluminum/alucobond.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 order-first md:order-last" data-aos="flip-left" data-aos-duration="1000">
                    <img src="assets/images/insured-guaranteed.png" alt="building wash"
                        class="w-full h-[450px] sm:h-[550px] md:h-auto object-cover" data-aos="zoom-in"
                        data-aos-duration="1000">
                </div>
            </div>
            <!-- Fully Insured! Guaranteed Results! [E] -->
            <!-- Filling Form Commercial & Residential Quote [s] -->
            <div class="w-full space-y-9">
                <div class="flex flex-wrap -ml-3">
                    <div class="w-full sm:w-1/2 flex flex-col justify-center p-3 pr-10 space-y-3" data-aos="fade-right"
                        data-aos-duration="1500">
                        <h2>Special Offer</h2>
                        <p class="mt-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sunt
                            laudantium non assumenda omnis facilis, vitae ipsam ducimus libero commodi esse, sint
                            doloremque. Illo suscipit eum dolore consectetur corporis aperiam.</p>
                        <button class="btn-primary mt-3" onclick="removeAdd('offers_form','hidden','flex')">Get
                            Now</button>
                    </div>
                    <div class="w-full sm:w-1/2 p-3 order-first sm:order-last" data-aos="fade-left"
                        data-aos-duration="1500">
                        <img src="assets/images/offer-deal.jpg" alt="Special Offer" class="rounded-3xl">
                    </div>
                </div>
            </div>
            <!-- Filling Form Commercial & Residential Quote [E] -->
        </div>
    </div>
</section>
<!-- Our Work [E]. -->

<!-- footer-one [S] -->
<section class="w-full bg-[#F2F5F9] overflow-hidden py-10 sm:py-12 md:py-16 lg:py-20 xl:py-24">
    <div class="wrapper">
        <div class="flex flex-wrap md:flex-nowrap items-center justify-between" data-aos="zoom-in"
            data-aos-duration="1500">
            <h2 class="max-w-lg lg:max-w-3xl">Schedule Your Home's Transformation Today</h2>
            <div class="w-fit pt-2">
                <a href="/contactus" class="block text-sm md:text-base btn-primary">Request Services</a>
            </div>
        </div>
    </div>
</section>
<!-- footer-one [E] -->

<!-- Pop-up [S] -->
<div class="w-full h-screen fixed inset-0 hidden items-center justify-center px-5 z-50" id="offers_form">
    <span class="block absolute inset-0 bg-black/40 cursor-pointer"
        onclick="removeAdd('offers_form','flex','hidden')"></span>
    <div class="relative max-w-3xl w-full bg-white rounded-2xl md:rounded-3xl shadow-xl p-5 sm:p-8 md:p-10">
        <div class="w-full pr-10">
            <h3 class="max-w-4xl mb-1">Would You Like a Quote for Your House Cleaning?</h3>
            <span class="block text-xl font-medium">Fill out the form below to receive your quote</span>
            <span class="block" onclick="removeAdd('offers_form','flex','hidden')">
                <svg class="absolute top-8 right-5 md:top-11 md:right-10 w-7 h-7 cursor-pointer" viewBox="0 0 1024 1024"
                    xmlns="http://www.w3.org/2000/svg" fill="#000000">
                    <g id="SVGRepo_iconCarrier">
                        <path fill="#000000"
                            d="M195.2 195.2a64 64 0 0 1 90.496 0L512 421.504 738.304 195.2a64 64 0 0 1 90.496 90.496L602.496 512 828.8 738.304a64 64 0 0 1-90.496 90.496L512 602.496 285.696 828.8a64 64 0 0 1-90.496-90.496L421.504 512 195.2 285.696a64 64 0 0 1 0-90.496z">
                        </path>
                    </g>
                </svg>
            </span>
        </div>
        <form class="flex flex-wrap -mx-1 md:-mx-3 mt-3" action="/ourwork" method="post">
            <div class="w-full sm:w-1/2 p-1 md:p-3">
                <div class="max-w-[600px]">
                    <!-- <label for="y_name" class="block font-medium text-light_gray cursor-pointer pb-1">Your Name</label> -->
                    <input id="y_name" type="text" name="name"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5" placeholder="Your Name">
                </div>
            </div>
            <div class="w-full sm:w-1/2 p-1 md:p-3">
                <div class="max-w-[600px] sm:ml-auto">
                    <!-- <label for="email" class="block font-medium text-light_gray cursor-pointer pb-1">Email</label> -->
                    <input id="email" type="email" name="email"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5" placeholder="Email">
                </div>
            </div>
            <div class="w-full sm:w-1/2 p-1 md:p-3">
                <div class="max-w-[600px]">
                    <!-- <label for="phone_number" class="block font-medium text-light_gray cursor-pointer pb-1">Phone Number</label> -->
                    <input id="phone_number" type="tel" name="mobile"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5"
                        placeholder="Phone Number">
                </div>
            </div>
            <div class="w-full sm:w-1/2 p-1 md:p-3">
                <div class="max-w-[600px] sm:ml-auto">
                    <!-- <label for="post_code" class="block font-medium text-light_gray cursor-pointer pb-1">Postcode</label> -->
                    <input id="post_code" type="tel" name="address"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5" placeholder="Address">
                </div>
            </div>
            <div class="w-full p-1 md:p-3">
                <div class="w-full">
                    <!-- <label for="address" class="block font-medium text-light_gray cursor-pointer pb-1">Address</label> -->
                    <input id="address" type="text" name="postcode"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5" placeholder="Suburb">
                </div>
            </div>
            <div class="w-full p-1 md:p-3">
                <div class="w-full">
                    <!-- <label for="massage" class="block font-medium text-light_gray cursor-pointer pb-1">Massage</label> -->
                    <textarea name="message" id="massage"
                        class="w-full text-sm outline-none rounded-lg bg-[#F2F4F7] py-2.5 px-5" placeholder="Massage"
                        rows="3"></textarea>
                </div>
            </div>
            <div class="w-full p-3">
                <button type="submit"
                    class="block text-sm md:text-base btn-primary max-w-[180px] w-full text-center cursor-pointer mx-auto"
                    style="line-height: 16px;">Send</button>
            </div>
        </form>
    </div>
</div>
<!-- Pop-up [E] -->